﻿@font-face {
    font-family: 'Bitter-Regular';
    src: url('../fonts/Bitter-Regular.ttf') format('truetype'), url('../fonts/Bitter-Italic.ttf') format('truetype'), url('../fonts/Bitter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bitter-Italic';
    src: url('../fonts/Bitter-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Bitter-Bold';
    src: url('../fonts/Bitter-Bold.ttf') format('truetype');
}
body {
  background-color: white;
  font-family: Bitter-Regular;
  font-weight:300;
	font-size:15px;
	color:#464646;
	width:100%; 
	height:100%; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}


html{
    background-color: white;
}

.wrapper {
  background: #fff none repeat scroll 0 0;
}
a,
.btn, i {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
input,
select,
textarea {
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover {
  color: #95c41f;
  text-decoration: none;
}
a,
button,
input {
  outline: medium none;
  color: #666666;
}
/* =========================
  2. Typography
============================= */
html {
    font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Bitter-Bold;
    color: #1f223e;
    margin-top: 0;
    font-weight: 700;
}
h5, .h5,
h6, .h6 {
  font-family: Bitter-Regular; 
  font-weight: 400;
}
h1, .h1 {
    font-size: 36px;
}
h2, .h2 {
    font-size: 30px;
}
h3, .h3 {
    font-size: 26px;
}
h4, .h4 {
    font-size: 20px;
}
h5, .h5 {
    font-size: 18px;
}
h6, .h6 {
    font-size: 16px;
}

@media all and (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}

@media all and (max-width: 767px) {
    h1, .h1 {
        font-size: 30px;
        font-weight: 500;
    }
    h2, .h2 {
        font-size: 24px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 16px;
    }
    h5, .h5 {
        font-size: 16px;
    }
    h6, .h6 {
        font-size: 16px;
    }
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
span a,
li a { 
  color: inherit 
}



.button, input[type="submit"] {
	font-family:'Raleway', Helvetica, Arial;
	font-size:15px;
	font-weight:600;
	padding:10px 35px 10px 35px;
	color:white;
	border-radius:3px;
	border:none;
	background-color:#48a0dc;
	display:inline-block;
	width:auto;
	cursor:pointer;
	transition: all 0.2s linear;
}

.button:hover, input[type="submit"]:hover, .button.grey:hover {
	color:white;
	text-decoration:none;
	background-color:#1D6FC2;
}

.button.alt { background-color:#4fba6f; }
.button.alt:hover { background-color:#5fc97e; }

.button.small {
	padding:6px 23px 6px 23px;
	font-size:12px;
}

.button.large {
	padding:12px 45px 12px 45px;
	font-size:17px;
}

.button.grey { color:#8da9b9; cursor:auto; background-color:#cbdfea; }

.button-icon { position:relative; padding-left:56px; padding-right:25px; }
.button-icon.small { padding-left:38px; padding-right:15px; }
.button-icon.large { padding-left:70px; padding-right:35px; }
.button-icon .fa {
	background:rgba(0, 0, 0, 0.1);
	position:absolute;
	left:0;
	top:0;
	border-radius:2px;
	height:100%;
	width:38px;
	text-align:center;
	padding-top:17px;
	font-size:13px;
}
.button-icon.small .fa { padding-top:8px; width:27px; }
.button-icon.large .fa { padding-top:15px; font-size:16px; width:45px; }

/** PAGINATION **/
.pagination { width:100%; }
.pagination ul li { list-style:none; padding-left:4px; padding-right:4px; display:inline-block; }
.pagination ul li.current a { background:#1D6FC2; color:white; }
.pagination .button { padding:10px 15px; }

/** FORM ELEMENTS **/
.hnInput {
	width:100%;
	padding:9px;
	margin-bottom:20px;
	border-radius:3px;
	border:none;
	font-weight:300;
	background:white;
}

input[type="file"] {
	background:white;
	border:none;
	padding:5px 0px 5px 0px;
	width:auto;
	display:inline-block;
}


.hnInput.border{ border:1px solid rgba(0, 0, 0, 0.15); }
:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}


.logo {
  padding: 13px 0;
}

/*company-info*/
.company-info {
  padding: 39px 0;
}
.company-info-item {
    float: left;
    overflow: hidden;
    width: 50%;
}
.header-icon {
    float: left;
    width: 18%;
}
.header-info {
    float: left;
    width: 82%;
}
.company-info .company-info-item:nth-child(2) {
  padding-left: 5%;
}


.header-info h6 {
  font-family: Bitter-Bold;
  line-height: 15px;
  margin-bottom: 5px;
}
.header-info p {
  color: #606060;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  margin-bottom: 0;
}

/*header-search*/
.header-search {
  padding: 40px 0;
}
.header-search button {
    float: left;
    height: 30px;
    width: 18%;
}
.header-search input {
  border: 1px solid #1f223e;
  box-shadow: none;
  color: #303030;
  float: left;
  font-weight: 300;
  height: 30px;
  margin-bottom: 0;
  padding-left: 15px;
  width: 82%;
}
.header-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #303030;
  opacity: 1;
}
.header-search input::-moz-placeholder { /* Firefox 19+ */
  color: #303030;
  opacity: 1;
}
.header-search input:-ms-input-placeholder { /* IE 10+ */
  color: #303030;
  opacity: 1;
}
.header-search input:-moz-placeholder { /* Firefox 18- */
  color: #303030;
  opacity: 1;
}





.headSmlbtn{
    height:100%;
    margin:2px;
    color:#82b541;
}

.footer-top{
    background-color: black;
    color:grey;
    padding:20px;
}

.footer-top  h1 ,.footer-top h2 ,.footer-top h3 ,.footer-top h4 ,.footer-top h5 ,.footer-top h6{
    font-weight:bold;
    color:white;
    
}
.line
{
    border-color:grey;
}
.findHome {
    margin: 0px;
    padding: 90px 0px;
    background-image: url('../Images/anodaBg.jpg');
    background-color: transparent;
    background-position: 50% -16px;
}

.pmChoose{
    background-color:#1D6FC2;
}


.pmCheck
{
    height:100px;
    border:1px solid white;
    color:white;
    cursor:pointer;
}

.pmCheck:hover,.pmActive{
    background-color:#0349aa;
}

.cbox{
    padding:8px;
    background-color:#1D6FC2;
    border-radius:5px;
}
.pm-search-head h5{
    color:white;
    font-weight:800;
   
}

.pm-search-head  p{
    color:whitesmoke;
}

.filterCntrl{
        border-radius:0px;
        font-family: Bitter-Regular;
}


.priceTxt{
    width:100px;
}

.headerBtn{
    border-radius:0px;
}


.filterButton{
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    padding: 10px;
    line-height: 1.6;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    border: none;
    border-bottom: 4px solid #0349aa;
    background: #1D6FC2;
    color: white;
}

.filterButton:hover {
    border-bottom: 4px solid #1D6FC2;
    color: white;
    background: #1D6FC2;
}


.filterButton:focus {
    border-top: 4px solid #0349aa;
    border-bottom: none;
    color: white;
    background: #1D6FC2;
    outline: 0;
}


.serv{
    border-radius:150px;
    color:white;
    padding:20px;
    border: 5px solid white;
    background-color:#48a0dc;
}

.serv:hover{
    border-radius:150px;
    color:white;
    padding:20px;
    border: 5px solid white;
    background-color:hsl(0, 0%, 27%);
}


.productsWrapper{
    background-color:transparent;
    padding-left:15px;
    padding-right:15px;
}

.hnItemTitle{
    font-weight:600;
    font-family:Bitter;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #4d4d4d;
    margin-bottom:0px;
}

.productItemtDsc{
    margin:0;
    color:#8e97ac;
    padding:8px;
    background-color: rgb(244, 245, 248);
}

.hnProductLoc{
    font-size:12px;
    color: #4d4d4d;
}

.itemPice{
    position:absolute;
    left:10%;
    bottom:50%;
    color:white;
    font-weight:bold;
    font-size:16px;
    background-color: rgba(0,0,0,0.5);
    padding:3px;
    border-radius:5px;
}

.md-card-image{
    object-fit:cover;
    width:100%;
    height:220px;
    background-color:#666;
}

.imgholder{
    padding:0px;
    margin:0px;
}

.serv-image{
    object-fit:cover;
    width:100%;
    height:150px;
    background-color:#666;
}



@media (min-width: 992px) {
    .row.make-equal{
    display: flex;
    flex-wrap:wrap;
}

.row.make-equal [class*="col-"]{
    flex-direction: column;
    display: flex;
}
}



.testCarousel{
    display: flex;
    flex-wrap:wrap;
}

.testCarousel [class*="col-"]{
    flex-direction: column;
    display: flex;
}


.testimonialSection{
    padding-top: 100px;
    padding-bottom: 100px;
}

.itemContract{
    position:absolute;
    left:80%;
    top:5%;
    color:white;
    font-weight:bold;
    font-size:16px;
    background-color: rgba(243, 17, 17, 0.50);
    padding:3px;
    border-radius:5px;
}



.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}


#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #1D6FC2;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width:100px;
    height:100px;
    margin: 0 auto;
    border-radius: 100px;
}

.testiP{
    object-fit:contain;
    width:100%;
    height:100px;
     margin: 0 auto;
    border-radius: 100px;
}

.pageBread{
    padding:40px 60px 40px 60px;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(109, 125, 220, 0.30), 
      rgba(109, 125, 220, 0.30)
    ),
    /* bottom, image */
    url('../Images/banner.png');
    background-size:cover;
    background-repeat:no-repeat;
    color:#888787;
}

.pageBread .breadcrumb{
    margin-bottom:0px;
}

.last{
    font-weight:700;
}

@media (max-width: 768px)  {
    .pageBread {
        padding: 15px 20px 15px 20px;
    }
}


.sortPagiBar {
    clear: both;
    padding: 20px 5px;
    background: #efefef;
}
div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 54px;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    padding: 5px 0 5px 27px;
}
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
    margin: 0;
    padding: 0;
}
select.my-control {
    display: inline-block;
}
.my-control {
    padding: 15px 5px;
    color: gray;
    font-weight:600;
    border-radius: 0px;
    background-color: white;
    box-shadow: none;
    border: 1px solid transparent;
}


.properties__ribon {
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 600;
    top: 18px;
}

.itemLine{
    margin-top:5px;
    margin-bottom:0px;
}

.lsItemPrice{
    margin:0px;
    padding:5px;
    background-color: rgba(7, 90, 131, 0.76);
    color:white;
    font-weight:bold;
    font-size:16px;
    font-stretch:wider;
}

.pagination-wrapper {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.pagination-wrapper .pagination {
    float: left;
    margin: 35px 0 10px;
}

.pagination-wrapper .pagination li a:hover {
    background-color: #0095e6;
    color: #fff;
}


.pagination-wrapper .pagination li a {
    margin: 0 2px;
    border: none;
    font-size: 18px;
    font-weight: 100;
    font-family: Roboto;
    color: gray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 13px;
    background-color:#e1e2e2;
}

.pdFlashDsc{
    font-size:12px;
    color: #969696;
}


@media (min-width: 992px) {
    #singleProductBody h2, #singleProductBody .h2 {
        font-size: 36px;
    }
}

@media (min-width: 768px) {
    #singleProductBody h2, #singleProductBody .h2 {
        font-size: 36px;
        line-height: 1.29167;
    }
}


#singleProductBody hr {
    display: inline-block;
    width: 100px;
    border: 0;
    border-top: 2px solid #1D6FC2;
    margin-top: 0;
    margin-bottom: 0;
}

#carousel-example-generic {
    margin: 20px auto;
    width: 100%;
}

#carousel-custom {
    margin: 20px auto;
    width: 100%;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}


/*.flexslider {
  border-radius:0px;
  box-shadow:none;
  border:none;
}
#details-slider {
  margin:0 0 30px;
  position:relative;
}

#details-carousel {
  margin-bottom:5px;
}
#details-carousel .slides>li {
  padding:0 0px;
}
#details-carousel .flex-direction-nav a {
  background-color:transparent;
  width:41px;
  height:51px;
  line-height:51px;
}
#details-carousel .flex-direction-nav a:before {
  content:'\f053';
  
    font-family: FontAwesome;
  font-size:50px;
}
#details-carousel .flex-direction-nav a.flex-next:before {
    
    font-family: FontAwesome;
    
  content:'\f054';
}
#details-carousel .flex-prev {
  left:15px;
  top:45%;
}
#details-carousel .flex-next {
  right:15px;
  top:45%;
}


.image-wrapper img {
   object-fit:contain;
    width:100%;
    max-height:350px;
    margin:auto;
}

#details-carousel img{
    object-fit:cover;
    width:100%;
    max-height:80px;
    margin: 0 auto;
}

 .image-wrapper {
  position:relative;
}
.image-wrapper img {
  width:100%;
}*/

.slidebtn{
    background-color: rgba(22, 22, 22, 0.68);
    color:white;
    padding:5px 10px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    border:3px solid white;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover{
    border:1px solid #1D6FC2;
    opacity:1;
}

.lSSlideOuter .lSPager.lSGallery li{
    opacity:0.5;
}

.lSSlideOuter .lSPager.lSGallery{
    width:100%;
    max-height:250px;
}
.lSSlideOuter  img{
    object-fit:contain;
    width:100%;
    max-height:100%;
}
.lSSlideOuter .lSPager.lSGallery img{
    object-fit:cover;
    width:100%;
    max-height:90px;
}
.singleItemDs{
    font-size:14px;
    margin:10px 0px;
}

.singleItemDsAction .fa{
    font-size:16px;
}

.colored{
    color: #1D6FC2;
    
}

.coloredBold{
    color: #1D6FC2;
    font-weight: 600;
}


.acBtn:nth-of-type(2):before {
    content: '\f127';
    font-family: Fontawesome;
}

.acBtn:before{
    content: '\f095';
    font-family: Fontawesome;
    color:#dbdbdb;
    font-size:20px;
    margin-right:5px;
}

.acBtn,.acBtn:visited{
    font-size: 24px;
    color:#1D6FC2;
    padding:10px 15px;
    border:2px solid #1D6FC2; 
}

.acBtn:hover:before,.acBtn:hover,.acBtn:active:before,.acBtn:active{
    color: black;
    

}
    .acBtn:hover,.acBtn:active {
        border: 2px solid black;
    }




    .dgBtn:nth-of-type(2):before {
    content: '\f127';
    font-family: Fontawesome;
}

.dgBtn:before{
    content: '\f095';
    font-family: Fontawesome;
    color:#dbdbdb;
    font-size:20px;
    margin-right:5px;
}

.dgBtn,.dgBtn:visited{
    font-size: 24px;
    color:#f64444;
    padding:10px 15px;
    border:2px solid #f64444; 
}

.dgBtn:hover:before,.dgBtn:hover,.dgBtn:active:before,.dgBtn:active{
    color: black;
    

}
    .dgBtn:hover,.dgBtn:active {
        border: 2px solid black;
    }


  

.abText{
    padding:5px;
    color:black;
    font-weight:500;
}
.mychip{
    background-color:#5a6f85;
    color:white;
}







.pdMore ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 80px;
	width: 100%;
}

.pdMore ul.tabs li {
	float: left;
	cursor: pointer;
	height: auto;
	line-height: 31px;
	overflow: hidden;
	position: relative;
    color: #666;
    padding: 20px 30px 20px;
    background: whitesmoke;
    border-radius: 0;
    border: none;
    border-right:1px solid white;
    margin-right: 0;
}

/*.pdMore .tab_last { border-right: 1px solid #333; }*/

.pdMore ul.tabs li:hover {
	background: #1D6FC2;
    border: none;
    color: #FFF;
}

.pdMore ul.tabs li.active {
	background: #1D6FC2;
    border: none;
    color: #FFF;
}

.pdMore .tab_container {
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.pdMore .tab_content {
	padding: 20px;
	display: none;
}

.pdMore .tab_drawer_heading { display: none; }

@media screen and (max-width: 720px) {
	.pdMore .tabs {
		display: none;
	}
    .pdMore .tab_drawer_heading:after{
        content: '\f103';
        font-family:Fontawesome;
        float:right;
    }
   
  .pdMore .tab_drawer_heading {
		background-color: whitesmoke;
		color: #666;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
  .d_active.tab_drawer_heading:after {
      content: '\f102';
        font-family:Fontawesome;
        float:right;
  }
	.pdMore .d_active {
        
		background-color: #1D6FC2;
		color: #fff;
	}
}

#map {
   width: 100%;
   height: 300px;
   background-color: grey;
 }

video {
  width: 100%    !important;
  height: auto   !important;
}

#tab3 .productbox {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

#tab3 .producttitle {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

#tab3 .productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

#tab3 .pricetext {
	font-weight:bold;
	font-size:1.4em;
}

.media-mod-3 .media-left img {
    width: auto;
    max-width: none;
}

/*.img-width-auto img {
    width: auto;
    height: auto;
}*/

.round {
    border-radius: 50%;
}



.checkout-wrapper{padding-top: 40px; padding-bottom:40px; background-color: #fafbfa;}
.checkout{    background-color: #fff;
    border:1px solid #eaefe9;
     
    font-size: 14px;}
.panel{margin-bottom: 0px;}
.checkout-step {
     
    border-top: 1px solid #f2f2f2;
    color: #666;
    font-size: 14px;
    padding: 30px;
    position: relative;
}

.checkout-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 6px;
    text-align: center;
    width: 32px;
    padding-top:3px;
}
.checkout-step-title{ font-size: 18px;
    font-weight: 500;
    vertical-align: middle;display: inline-block; margin: 0px;
     }
 
.checout-address-step{}
.checout-address-step .form-group{margin-bottom: 18px;display: inline-block;
    width: 100%;}

.checkout-step-body{padding-left: 60px; padding-top: 30px;}
@media only screen and (max-width: 768px) {
   .checkout-step-body{padding-left: 5px; padding-top: 30px;}
}

.checkout-step-active{display: block;}
.checkout-step-disabled{display: none;}

.checkout-login{}
.login-phone{display: inline-block;}
.login-phone:after {
    content: '+91 - ';
    font-size: 14px;
    left: 36px;
}
.login-phone:before {
    content: "";
    font-style: normal;
    color: #333;
    font-size: 18px;
    left: 12px;
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-phone:after, .login-phone:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.login-phone .form-control {
    padding-left: 68px;
    font-size: 14px;
    
}
.checkout-login .btn{height: 42px;     line-height: 1.8;}
 
.otp-verifaction{margin-top: 30px;}
.checkout-sidebar{background-color: #fff;
    border:1px solid #eaefe9; padding: 30px; margin-bottom: 30px;}
.checkout-sidebar-merchant-box{background-color: #fff;
    border:1px solid #eaefe9; margin-bottom: 30px;}
.checkout-total{border-bottom: 1px solid #eaefe9; padding-bottom: 10px;margin-bottom: 10px; }
.checkout-invoice{display: inline-block;
    width: 100%;}
.checout-invoice-title{    float: left; color: #30322f;}
.checout-invoice-price{    float: right; color: #30322f;}
.checkout-charges{display: inline-block;
    width: 100%;}
.checout-charges-title{float: left; }
.checout-charges-price{float: right;}
.charges-free{color: #43b02a; font-weight: 600;}
.checkout-payable{display: inline-block;
    width: 100%; color: #333;}
.checkout-payable-title{float: left; }
.checkout-payable-price{float: right;}

.checkout-cart-merchant-box{ padding: 20px;display: inline-block;width: 100%; border-bottom: 1px solid #eaefe9;
 padding-bottom: 20px; }
.checkout-cart-merchant-name{color: #30322f; float: left;}
.checkout-cart-merchant-item{ float: right; color: #30322f; }
.checkout-cart-products{}

.checkout-cart-products .checkout-charges{ padding: 10px 20px;
    color: #333;}
.checkout-cart-item{ border-bottom: 1px solid #eaefe9;
    box-sizing: border-box;
    display: table;
    font-size: 12px;
    padding: 22px 20px;
    width: 100%;}
 .checkout-item-list{}
.checkout-item-count{ float: left; }
.checkout-item-img{width: 60px; float: left;}
.checkout-item-name-box{ float: left; }
.checkout-item-title{ color: #30322f; font-size: 14px;  }
.checkout-item-unit{  }
.checkout-item-price{float: right;color: #30322f; font-size: 14px; font-weight: 600;}


.checkout-viewmore-btn{padding: 10px; text-align: center;}

.header-checkout-item{text-align: right; padding-top: 20px;}
.checkout-promise-item {
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 20px;
    padding-left: 24px;
    color: #30322f;
}
.checkout-promise-item i{padding-right: 10px;color: #43b02a;}

#submitProperty hr {
    display: inline-block;
    width: 100px;
    border: 0;
    border-top: 2px solid #1D6FC2;
    margin-top: 0;
    margin-bottom: 0;
}


.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}


.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}

.dropzone .dz-message {
    font-weight: 400;
}

#eyespy360_btn {
    
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #1D6FC2;
  padding: 10px 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px; 
  margin-bottom:10px; /*delete*/
  letter-spacing: 3px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease; 

}
  #eyespy360_btn::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: #5f4004;
    opacity: .18;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px;
    left: 0;
}

  #eyespy360_btn:focus, .button:hover
   {
    text-decoration: none;
    color: #fff; 

  }
  #eyespy360_btn:hover 
  {
    background-color: #0349aa;

  }
    #eyespy360_btn:hover::after 
    {
      opacity: .22; }
  #eyespy360_btn:active {
    background-color: #0349aa; }
    #eyespy360_btn:active::after {
      opacity: .32; }





    #eyespy360_btn:before{
        content: '\f260';
        font-family: Fontawesome;
    }



    .svBtn:nth-of-type(2):before {
    content: '\f127';
    font-family: Fontawesome;
}

.svBtn:before{
    content: '\f095';
    font-family: Fontawesome;
    color:#dbdbdb;
    font-size:16px;
    margin-right:4px;
}
.svBtn{
    
    font-size: 16px;
    /*padding:8px 12px;*/
}

.svBtn,.svBtn:visited{
    color:#1D6FC2;
    
    border:2px solid #1D6FC2; 
}

.svBtn:hover:before,.svBtn:hover,.svBtn:active:before,.svBtn:active{
    color: black;
    

}
    .svBtn:hover,.svBtn:active {
        border: 2px solid black;
    }

    @media only screen and (max-width : 1200px) {
        .svBtn{
    
    font-size: 12px;
}

        .profile-avatar{
        object-fit:contain;
    width:100%;
    max-height:300px;
    background-color:white;
    }


}

@media only screen and (max-width : 979px) {
    .svBtn{
    
    font-size: 10px;
    /*padding:3px 5px;*/
}


    .profile-avatar{
        object-fit:contain;
    width:100%;
    max-height:300px;
    background-color:white;
    }

}

@media only screen and (max-width : 767px) {
    .svBtn{
    
    font-size: 9px;
    /*padding:2px 4px;*/
}


    .profile-avatar{
        object-fit:contain;
    width:100%;
    max-height:200px;
    background-color:white;
    }
}

@media only screen and (max-width : 480px) {
.svBtn{
    
    font-size: 9px;
    /*padding:4px 8px;*/
}
}

@media only screen and (max-width : 320px) {
    .svBtn{
    
    font-size: 8px;
    /*padding:4px 8px;*/
}
}

.section-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .section-sm {
    padding-top: 71px;
    padding-bottom: 84px;
  }
  .section-sm-mod-1 {
    padding-bottom: 19px;
  }
}

.section-sm-mod-2 {
  padding-bottom: 0;
}

.section-sm-mod-3 {
  padding-top: 0;
}

@media (min-width: 992px) {
  .section-sm-mod-3 {
    padding-top: 71px;
  }
}

.bg-dark {
  background-color: #f7f7f7;
}

@media (min-width: 992px) {
  .inset-8 {
    padding-right: 43px;
  }
}


.img-wrap-mod-1 img{
    object-fit:cover;
    width:100%;
    height:300px;
    background-color:#666;
}


.img-wrap-mod-1 + .btn {
  margin-top: 18px;
}

.img-wrap-mod-1 {
  padding: 10px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.22);
  background-color: #fff;
}

@media (min-width: 1200px) {
  .img-wrap-mod-1 {
    margin-top: -200px;
  }
}

.btn-full-width {
  width: 100%;
  max-width: 340px;
}

* + .offset-5 {
  margin-top: 30px;
}

@media (min-width: 992px) {
  * + .offset-5 {
    margin-top: 0;
  }
}


.servBread{
    padding:40px 60px 40px 60px;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(109, 125, 220, 0.50), 
      rgba(109, 125, 220, 0.50)
    ),
    /* bottom, image */
    url('../Images/banner.png');
    background-size:cover;
    background-repeat:no-repeat;
    color:#888787;
}

.detailBox {
    width:100%;
    border:1px solid #bbb;
    /*margin:50px;*/
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    height:100%;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.sactive{
    color:#95c41f;
}



.member-card {
	background:white;
}

.member-card-header {
	color:white;
	background:#48a0dc;
	padding:0px 20px 20px 20px;
	text-align:center;
}
.member-card-avatar { 
	display:inline-block;
	border-radius:100%; 
	overflow:hidden;
	border:5px solid rgba(255, 255, 255, 0.4);
	width:90px;
	height:90px;
	margin-top:-30px; 
	margin-bottom:10px; 
	box-shadow:0px 10px 25px rgba(0, 0, 0, 0.16);
	transition:all 0.4s;
 }
.member-card-avatar:hover { border:5px solid rgba(255, 255, 255, 0.8); }
.member-card-header h3 { font-size:20px; color:white; }
.member-card-header p { font-size:13px; }

.member-card-content { text-align:center; position:relative; }
.member-card-content .hex { margin-top:-17px; position:absolute; margin-left:-45px; }
.member-card-content ul { position:relative; z-index:10; }
.member-card-content ul li.active a { border-right:2px solid #48a0dc; color:#48a0dc; font-weight:700; }
.member-card-content ul li a { text-align:left; border-bottom:1px solid rgba(0, 0, 0, 0.1); padding:16px 20px 13px 20px; display:block; color:#3a464e; }
.member-card-content ul li a:hover { background:#deebf2; }
.member-card-content ul li .icon { margin-right:7px; }


/** PROFILE **/
.profile-avatar { max-width:100%; height:auto; margin-bottom:15px; }
.edit-avatar .button { margin-bottom:25px; } 

/** MY PROPERTIES **/
.my-properties-list tr { height:140px; border:none; border-bottom:1px solid #cbdfea; }
.my-properties-list tr:first-child { height:50px; }
.my-properties-list th { font-size:13px; }
.my-properties-list .property-img { width:15%; padding-right:20px; display:table-cell; }
.my-properties-list .property-title { width:28%; margin:0; padding:0; border:none; }
.my-properties-list .property-title .property-address { margin-top:3px; color:#9bb3c7; font-size:13px; margin-bottom:15px; }
.my-properties-list .property-post-status { width:15%; }
.my-properties-list .property-post-status .button.small { font-size:11px; padding:5px 10px; }
.my-properties-list .property-date { width:15%; }
.my-properties-list .property-actions { width:27%; }
.my-properties-list .property-actions a { font-size:13px; padding-left:7px; padding-right:7px; }

/** FAVORITE PROPERTIES **/
.favorite-properties-list .property-img { width:20%; padding-right:4%; }
.favorite-properties-list .property-title { width:55%; }
.favorite-properties-list .property-actions { width:25%; }


.login p { text-align:center; }
.login .note { font-size:13px; }
.login-form {
	background:white;
	padding:30px;
	box-shadow:0px 0px 15px rgba(0, 0, 0, 0.05);
	margin-bottom:20px;
}


.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #ebf1f5;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }


  .header-Button{
      color: #1D6FC2;
  }

    .header-Button:hover,.header-Button:active{
      color: black;
      -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  }


    .modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}




.breadcrumb{
    border-radius:0px;
    background-color:#1D6FC2;
    color:white;
}



.bg-primary {
  color: #1b3548;
  background-color: #e9ecf2; }

a.bg-primary:hover {
  background-color: #e9ecf2; }

.bg-success, .bg-green {
  color: #fff;
  background-color: #8ad919; }

a.bg-success:hover, a.bg-green:hover {
  background-color: #8ad919; }

.bg-success a, .bg-green a {
  color: rgba(255, 255, 255, 0.75); }

.bg-teal {
  color: #fff;
  background-color: #1ebfae; }

a.bg-teal:hover {
  background-color: #1ebfae; }

.bg-teal a {
  color: rgba(255, 255, 255, 0.75); }

.bg-info, .bg-blue {
  color: #fff;
  background-color: #30a5ff; }

a.bg-info:hover, a.bg-blue:hover {
  background-color: #30a5ff; }

.bg-info a, .bg-blue a {
  color: rgba(255, 255, 255, 0.75); }

.bg-warning, .bg-orange {
  color: #fff;
  background-color: #ffb53e; }

a.bg-warning:hover, a.bg-orange:hover {
  background-color: #ffb53e; }

.bg-warning a, .bg-orange a {
  color: rgba(255, 255, 255, 0.75); }

.bg-danger, .bg-red {
  color: #fff;
  background-color: #f9243f; }

a.bg-danger:hover, a.bg-red:hover {
  background-color: #f9243f; }

.bg-danger a, .bg-red a {
  color: rgba(255, 255, 255, 0.75); }

.regCheck{
    background-color: #41c14f;
    color:white;
    padding:15px;
    border-radius:100px;
    font-size:120px;
}

.btn-file {
  position: relative;
}
.btn-file input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #0077B5;
 }
 #social-em:hover {
     color: #f39c12;
 }