﻿.bonsai,
.bonsai li {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden
}

    .bonsai li {
        position: relative;
        padding-left: 20px
    }

        .bonsai li .thumb {
            margin: -3px 0 0 -20px;
            padding: 5px 10px;
            position: absolute;
            cursor: pointer;
            z-index: 10
        }

@media (max-width:767px) {
    .bonsai li .thumb {
        right: 0;
        margin-left: 0
    }
}

li.has-children > .thumb:after {
    font-size: 1.2em;
    display: inline-block;
    font-family: FontAwesome;
    content: "";
    color: #c8c8c8;
    line-height: 1
}

.rtl li.has-children > .thumb:after {
    content: '\f0d9'
}

li.has-children.expanded > .thumb:after {
    content: "\f0d7"
}

li.collapsed > ol.bonsai {
    height: 0;
    overflow: hidden
}

.bonsai .all,
.bonsai .none {
    cursor: pointer
}


input[id^="bonsai-checkbox"] {
    margin-left:5px;
}
label[for^="bonsai-checkbox"] {
    font-weight:200;
}