﻿@model HNApp.Models.AdminIndexViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Dashboard</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style-admin.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" onclick="toggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>House9ja</span>Admin</a>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" href="/account/logoff">
                            <em class="fa fa-sign-out"></em>
                        </a>
                      
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" href="/home/index">
                            <em class="fa fa-eye"></em>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="@User.Identity.GetUser().ProfilePicPath" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">Administrator</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
            <li class="active"><a href="/admin/index"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li><a href="/admin/categories"><em class="fa fa-calendar">&nbsp;</em> Categories</a></li>
            <li><a href="/admin/users"><em class="fa fa-user-circle">&nbsp;</em> Users</a></li>
            <li><a href="/admin/stypes"><em class="fa fa-wrench">&nbsp;</em> Service Types</a></li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">Dashboard</li>
            </ol>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div><!--/.row-->

        <div class="panel panel-container">
            <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        <div class="row no-padding">
                            <em class="fa fa-xl fa-building color-blue"></em>
                            <div class="large">@Model.PropertyCount</div>
                            <div class="text-muted">Properties</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                    <div class="panel panel-blue panel-widget border-right">
                        <div class="row no-padding">
                            <em class="fa fa-xl fa-wrench color-orange"></em>
                            <div class="large">@Model.ServiceCount</div>
                            <div class="text-muted">Services</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                    <div class="panel panel-orange panel-widget border-right">
                        <div class="row no-padding">
                            <em class="fa fa-xl fa-users color-teal"></em>
                            <div class="large">@Model.UserCount</div>
                            <div class="text-muted">New Users</div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Settings
                        
                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-xs-12">
                               @using (Html.BeginForm("Index", "Admin", FormMethod.Post))
                               {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.TextBoxFor(a => a.SiteEmail, new { @class = "form-control input-lg", placeholder = "Site Email" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(a => a.SitePhone, new { @class = "form-control input-lg", placeholder = "Phone Number" })
                                </div>
                                <div class="form-group text-center">
                                    <input class="btn btn-primary btn-md" id="btn-chat" value="Save" type="submit"/>
                                </div>
                               }
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->


       
    </div>	<!--/.main-->


    <script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    
</body>
</html>
