﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Service Types</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/style-admin.css" rel="stylesheet" />
    <link href="~/Content/angular-material.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="AdminApp" ng-controller="stypesCntrl" ng-init="init()">


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" onclick="toggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>House9ja</span>Admin</a>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" href="/account/logoff">
                            <em class="fa fa-sign-out"></em>
                        </a>

                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" href="/home/index">
                            <em class="fa fa-eye"></em>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="@User.Identity.GetUser().ProfilePicPath" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">Administrator</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
            <li><a href="/admin/index"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li><a href="/admin/categories"><em class="fa fa-calendar">&nbsp;</em> Categories</a></li>
            <li><a href="/admin/users"><em class="fa fa-user-circle">&nbsp;</em> Users</a></li>
            <li class="active"><a href="/admin/stypes"><em class="fa fa-wrench">&nbsp;</em> Service Types</a></li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">Service Types</li>
            </ol>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Service Types</h1>
            </div>
        </div><!--/.row-->


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        All
                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
                        <a class="pull-right clickable panel-toggle panel-button-tab-left" ng-click="add()"><em class="fa fa-plus"></em></a>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ul>
                                <li ng-repeat="type in serviceTypes track by $index">
                                    <h3>{{type.Title}} 
                                    
                                        <span class="btn-group btn-group-xs" role="group" aria-label="Basic example">
                                            <button ng-click="edit($index)" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
                                            <button type="button" ng-click="delete($index)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                        </span>
                                    </h3>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->



    </div>	<!--/.main-->


    <script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/AdminApp.js"></script>
</body>
</html>
