﻿@model ICollection<HNApp.Models.ApplicationUser>
@{
    
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Users</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/style-admin.css" rel="stylesheet" />
    <link href="~/Content/angular-material.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="AdminApp" ng-controller="usersCntrl" ng-init="init()">


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" onclick="toggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>House9ja</span>Admin</a>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" href="/account/logoff">
                            <em class="fa fa-sign-out"></em>
                        </a>

                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" href="/home/index">
                            <em class="fa fa-eye"></em>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="@User.Identity.GetUser().ProfilePicPath" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">Administrator</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
            <li><a href="/admin/index"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li><a href="/admin/categories"><em class="fa fa-calendar">&nbsp;</em> Categories</a></li>
            <li class="active"><a href="/admin/users"><em class="fa fa-user-circle">&nbsp;</em> Users</a></li>
            <li><a href="/admin/stypes"><em class="fa fa-wrench">&nbsp;</em> Service Types</a></li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">Users</li>
            </ol>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Users</h1>
            </div>
        </div><!--/.row-->


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        All
                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
                        
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-offset-2 col-sm-8">
                                @using (Html.BeginForm("users", "admin", FormMethod.Get))
                                {
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">

                                            <input type="text" class="form-control" value="@ViewBag.Query" name="query" placeholder="Search for user by name or email" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                }
                                
                                
                            </div>
                            <div style="visibility: hidden">
                                <div class="md-dialog-container" style="width:100%;" id="challengeDialog">
                                    <md-dialog layout-padding>
                                        <h2>Set User Access Role</h2>
                                        <p>You are setting user access role for user <strong class="text-danger">{{Name}}</strong></p>

                                        <md-input-container style="margin-right: 10px;">
                                            <label>Role</label>
                                            <md-select ng-model="role">
                                                <md-option ng-repeat="role in roles track by $index" value="{{role}}">{{role}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <hr />
                                        <div layout="row" layput-align="center center"> <md-button class="md-primary" ng-click="addRole()">Save</md-button> </div>
                                    </md-dialog>
                                </div>
                            </div>



                            <div style="visibility: hidden">
                                <div class="md-dialog-container" style="width:100%;" id="banDialog">
                                    <md-dialog layout-padding>
                                        <h2>Ban This user</h2>
                                        <p>You are about to <strong>BAN</strong> this user. If you continue, this user would be unable to login.</p>

                                        <md-input-container style="margin-right: 10px;">
                                            <label>Ban Reason</label>
                                            <input ng-model="reason" type="text">
                                        </md-input-container>
                                        <hr />
                                        <div layout="row" layput-align="center center"> <md-button class="md-raised md-primary" ng-click="continueBan()">Continue</md-button> </div>
                                    </md-dialog>
                                </div>
                            </div>

                            <table class="table table-responsive">
                                <tr><th>Name</th> <th>Email</th> <th>Action</th> </tr>
                                
                                
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><small>@item.Fullname</small></td>
                                            <td><small>@item.Email</small></td>
                                            <td>
                                                <span class="btn-group btn-group-xs" role="group">
                                                    <button type="button" ng-click="promote('@item.Id','@item.Fullname','@item.Roles.LastOrDefault()')" class="btn btn-info"><i class="fa fa-user-plus"></i></button>
                                                    @if (!item.IsBanned)
                                                    {
                                                        <button type="button" ng-click="ban('@item.Id')" class="btn btn-danger"><i class="fa fa-ban"></i></button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" ng-click="Unban('@item.Id')" class="btn btn-success"><i class="fa fa-unlock"></i></button>
                                                    }
                                                </span>
                                            </td>
                                        </tr>
                                    }

                                        
                            </table>
                            @Html.Pager((int)ViewBag.ItemCount, 10, (int)ViewBag.pgNo, 10)
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->



    </div>	<!--/.main-->


    <script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/AdminApp.js"></script>
</body>
</html>
