﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - House9ja</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/Content/semantic.min.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/angular.rangeSlider.css" rel="stylesheet" />
    <link href="~/Content/smartselect.min.css" rel="stylesheet" />
    
    @RenderSection("styles", false)
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body ng-app="HouseApp" ng-controller="mainCntrl" ng-cloak>


   


    <header class="header-default">

        <div class="top-bar">
            <div class="container">
                <div class="top-bar-left left">
                    <ul class="top-bar-item right social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="top-bar-right right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="dropdown">
                            @*<a href="/Account/login" layout="column" class="header-Button headerBtn dropdown-toggle" data-toggle="dropdown">
                                <img src="@user.ProfilePicPath" class="img-circle" height="60" />
                                <small style="font-size:12px;">Hi, @user.Fullname.Split(' ')[0] <i class="fa fa-caret-down"></i></small>
                            </a>*@

                            <a href="#" data-toggle="dropdown" class="top-bar-item" style="font-size:14px;"><i class="fa fa-user-o"></i> Hello, @User.Identity.Name <i class="fa fa-sort-down"></i></a>
                            <ul style="z-index:9999;" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/account/index"> <i class="fa fa-user-circle-o"></i> My Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/account/logoff"><i class="fa fa-sign-out"></i> Logout</a></li>
                                @if (User.IsInRole("admin"))
	                            {
		                             <li><a href="/admin/index"><i class="fa fa-user-secret"></i> Admin Panel</a></li>
	                            }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a href="/account/login" class="top-bar-item"><i class="fa fa-sign-in icon"></i>Login</a>
                        <a href="/account/register" class="top-bar-item"><i class="fa fa-user-plus icon"></i>Register</a>
                    }
                    
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="container">

            <!-- navbar header -->
            <div class="navbar-header" style="padding:5px;">

                <div class="header-details">
                    <div class="header-item header-search left">
                        <table>
                            <tr>
                                <td><i class="fa fa-search"></i></td>
                                <td class="header-item-text">
                                    <form class="search-form">
                                        <input type="text" placeholder="Search..." />
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="header-item header-phone left">
                        <table>
                            <tr>
                                <td><i class="fa fa-phone"></i></td>
                                <td class="header-item-text">
                                    Call us anytime<br />
                                    <span>(+234) 8161117179</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="header-item header-phone left">
                        <table>
                            <tr>
                                <td><i class="fa fa-envelope"></i></td>
                                <td class="header-item-text">
                                    Drop us a line<br />
                                    <span>hello@house9ja.com</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clear"></div>
                </div>

                <a class="" href="/home/index"><img src="~/Images/logo.png" alt="Homely" /></a>

                <!-- nav toggle -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>


        @*@{ 
            var ac = (ViewBag.Active != null) ? "class=\"current-menu-item\"" : "";
        }*@
            <!-- main menu -->
            <div class="navbar-collapse collapse">
                <div class="main-menu-wrap">
                    @*<div class="container-fixed">*@

                        <div class="member-actions right">
                            <a  href="#info" data-toggle="modal" class="button small alt button-icon"><i class="fa fa-plus"></i>New Listing</a>
                        </div>
                        <ul class="nav navbar-nav right">
                            <li @Html.RenderActive("class=\"current-menu-item\"","home") >
                                <a href="/home/index">Home</a>
                            </li>
                            <li @Html.RenderActive("class=\"current-menu-item\"","prop") >
                                <a href="/Properties/All/All">Properties</a>
                                
                            </li>
                            <li @Html.RenderActive("class=\"current-menu-item\"","serv")>
                                <a href="/Services/All">Services</a>
                                
                            </li>
                            <li @Html.RenderActive("class=\"current-menu-item\"", "about")>
                                <a href="/home/about">About Us</a>

                            </li>
                            <li class="menu-item-has-children @Html.RenderActive("current-menu-item","more")">
                                <a href="blog-right-sidebar.html">More</a>
                                <ul class="sub-menu">
                                    <li ><a href="/home/contact">Contact Us</a></li>
                                    <li><a href="/home/policy">Learn</a></li>
                                </ul>
                            </li>
                           
                        </ul>
                        <div class="clear"></div>

                    @*</div>*@

                </div><!-- end main menu wrap -->
            </div><!-- end navbar collaspe -->

        </div><!-- end container -->
    </header>


   

    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true">×</button>
                    <h1 style="color:white;"><i class="fa fa-building-o"></i> Choose Type</h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <span class="lstChos">
                                <img src="~/Images/icons8-Permanent Job-50.png" />
                            </span>
                            <h4>Properties</h4>
                            <p style="font-size:11px;" class="text-info">Select this option to list properties wether for sale or rent. e.g Houses,Office space, Lands etc</p>
                            <a href="/property/add" class="button button-icon" type="submit"><i class="fa fa-angle-right"></i>Proceed</a>
                        </div>
                        <div class="col-sm-6 text-center">
                            <span class="lstChos">
                                <img src="~/Images/icons8-Real Estate-50.png" />
                            </span>
                            <h4>Services</h4>
                            <p style="font-size:11px;" class="text-info">Select this option to list services  e.g Property Agency, Bricklayer, Interior Decorator etc</p>
                            <a href="/service/add" class="button button-icon"><i class="fa fa-angle-right"></i>Proceed</a>
                        </div>
                       
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



        <div class="body-content" style="background: #ebf1f5;">
            @RenderBody()

        </div>


        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4 widget footer-widget">
                            <h4>Learn</h4>
                            <ul class="list-unstyled">
                                <li><a href="/home/about#about">About us</a></li>
                                <li><a href="/home/about#terms">Terms Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <h4>Service</h4>
                            <ul class="list-unstyled">
                                <li><a href="/home/about#works">How it works</a></li>
                                <li><a href="/home/about#safe">Stay Safe</a></li>
                                <li><a href="/home/about#benefits">Verification Benefits</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <h4>Our Apps</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Android</a></li>
                                <li><a href="#">Ios</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12" layout="column" layout-align="center center">
                            <h4>House <span style="color:#59aee9;">Naija</span></h4>
                            <div layout="row" layout-padding>
                                <div>
                                    <h3 style="color:white;">5000+</h3>
                                    Properties listed
                                </div>
                                <div>
                                    <h3 style="color:white;">1000+</h3>
                                    satisfied Customers
                                </div>
                                <div>
                                    <h3 style="color:white;">36</h3>
                                    State
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr class="line" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-center">© House9ja.com all rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    <script>
        jQuery(document).ready(function($) {

"use strict";

	/***************************************************************************/
	//MAIN MENU SUB MENU TOGGLE
	/***************************************************************************/
	$('.nav.navbar-nav > li.menu-item-has-children > a').on('click', function(event){
		event.preventDefault();
		$(this).parent().find('.sub-menu').toggle();
		$(this).parent().find('.sub-menu li .sub-menu').hide();
	});

	$('.nav.navbar-nav li .sub-menu li.menu-item-has-children > a ').on('click', function(event){
		event.preventDefault();
		$(this).parent().find('.sub-menu').toggle();
	});

	/***************************************************************************/
	//TABS
	/***************************************************************************/
	//$( function() {
	//    $( ".tabs" ).tabs({
	//		create: function(event, ui) {
	//			$(this).fadeIn();
	//		}
	//	});
	//});

	

	/***************************************************************************/
	//FIXED HEADER
	/***************************************************************************/
	if ($(window).scrollTop() > 140) {
		$('.header-default .navbar-toggle').addClass('fixed');
		$('.header-default .main-menu-wrap').addClass('fixed');
	}


	$(window).bind('scroll', function () {
		if ($(window).scrollTop() > 140) {
		    $('.header-default .navbar-toggle').addClass('fixed');
		    $('.header-default .main-menu-wrap').addClass('fixed');
		} else {
		    $('.header-default .navbar-toggle').removeClass('fixed');
		    $('.header-default .main-menu-wrap').removeClass('fixed');
		}
	});



	
    //-->!]]>

});
    </script>
            @Scripts.Render("~/js/angular")
        <script src="~/Scripts/jquery.smartselect.min.js"></script>
        <script src="~/Scripts/jquery.twbsPagination.min.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>
