﻿@{
    ViewBag.Title = "About Us";
    ViewBag.Active = "about";
}

    <section class="subheader">
        <div class="container">
            <h1>About Us</h1>
            <div class="breadcrumb right">Home <i class="fa fa-angle-right"></i> <a href="#" class="current">About Us</a></div>
            <div class="clear"></div>
        </div>
    </section>

<div class="container md-whiteframe-5dp" style="padding:20px;background-color:white;margin-top:10px;margin-bottom:10px;">
    <div class="row" id="about">
        <div class="col-sm-12">
            <h3 style="font-weight:800;color:#1D6FC2;">About House9ja</h3>
            <p>House9ja is a owned by Eproperties Dynamic Concept Big Ltd. This platform was developed so as to link Nigerians in desprate search for not just properties but also competent Real estate service providers. We are commited to keeping up this dream and following through on our promise in creating an easy, safe, secure means of Real Estate transactions.</p>
            <p>
                <strong>Board Of Directors:</strong><br />
                <ul>
                    <li>Benedict Anyalenkeya</li>
                    <li>Taiwo Oluwole</li>
                    <li>Salu, Alafiatayo Dada</li>
                    <li>Olusegun Sojobi</li>
                    <li>Chidinma Ariella Ekenne</li>
                    <li>Fortune Akujuobi</li>
                    <li>Temitope Aginbiade</li>
                    <li>Jethro Daniel</li>
                </ul>
            </p>
        </div>

    </div>

    <div class="row" id="works">
        <div class="col-sm-12">
            <h3 style="font-weight:800;color:#1D6FC2;">How It Works?</h3>
            <p>House9ja is a purley free classified AD site for soley all Real Estate needs. However we as a company also provide intemediary services between customers and Property owners and Agents. We bare 100% of risk involved in transactions. To find out more please <a href="#">contact us</a> we are happy to help.</p>
            
        </div>

    </div>


    <div class="row" id="safe">
        <div class="col-sm-12">
            <h3 style="font-weight:800;color:#1D6FC2;">Stay Safe!</h3>
            <p>As part of our efforts in providing a secure platform for Real estate business, we advise users to physically inspect properties, properly validate all Documents and havea proper legal agreement before payment. However if you are still not sure, you can contact us to make payments on your behalf, we bare 100% of the risk.</p>

        </div>

    </div>

    <div class="row" id="benefits">
        <div class="col-sm-12">
            <h3 style="font-weight:800;color:#1D6FC2;">Verification Benefits?</h3>
            <p>We employ all service providers listing their services on house9ja to properly go through the verification process. This allows House9ja to properly vouche for the service providers to users. <strong>Note!!</strong> verified listings would have higher precedence when a user searches for related services.</p>

        </div>

    </div>

    <div class="row" id="terms">
        <div class="col-sm-12">
            <h3 style="font-weight:800;color:#1D6FC2;">Terms &amp; Conditions</h3>
            <p>

                TERMS OF USE
                Welcome to House9ja, an online platform for Nigeria's real estate. By using House9ja Web sites (defined to include all properties (mobile, web or otherwise) owned and operated by House9ja, related data, and/or related services (collectively, "Services"), you agree to be bound by the following Terms of Service ("Terms of Use", "Terms and Conditions").<br />
                1. Personal Use. You agree to use the Services for your personal use. Your commercial use is limited to transactions done on your own behalf. Real estate and lending professionals may provide information to consumers via the Services or, where authorized, take actions on behalf of a consumer client (e.g., post a home for sale). Without limitation, lending professionals and institutions are prohibited from using the Services in making any loan-related decisions. Subject to the restrictions set forth in the following paragraphs, you may copy information from the Services only as necessary for your personal use to view, save, print, fax and/or e-mail such information. You agree otherwise not to reproduce, modify, distribute, display or otherwise provide access to, decompile, disassemble or reverse engineer any portion of the Services.<br />
                2. Restrictions and Additional Terms. You agree not to remove or modify any copyright or other intellectual property notices that appear in the Services. You will not use the Services for resale, service bureau, time-sharing or other similar purposes. Further:

                Acceptable Use. You agree not to use the Services in any way that is unlawful, or harms House9ja, its service providers, suppliers or any other user. You agree not to use the Services in any way that breaches any of the laws of the Federal Republic of Nigeria, the State where you reside or any other policy or notice on the Services. These Terms of Service do not provide you a license to use, reproduce, distribute, display or provide access to any portion of the Services on third-party Web sites.
                Automated Queries. Automated queries (including screen and database scraping, spiders, robots, crawlers and any other automated activity with the purpose of obtaining information from the Services) are strictly prohibited on the Services, unless you have received express written permission from House9ja. As a limited exception, publicly available search engines and similar Internet navigation tools ("Search Engines") may query the Services and provide an index with links to the Services' Web pages, only to the extent such unlicensed "fair use" is allowed by applicable copyright law. Search Engines are not permitted to query or search information protected by a security verification system ("captcha") which limits access to human users.

                Google Maps. Some of the Services implement the Google Maps web mapping service. Your use of Google Maps is subject to Google's Terms of Service, located at http://www.google.com/intl/en_us/help/terms_maps.html

                Calls. The Services may provide phone numbers that can connect you with House9ja, its service providers, or other third parties, such as real estate agents and mortgage brokers. Some of the numbers listed may be routed through a third party service ("Calling Service"). Calls through the Calling Service may be recorded or monitored for quality assurance and customer service purposes. In the event that you make a call to House9ja or through a Calling Service, you consent to such recording and monitoring. House9ja will treat recorded calls in accordance with its Privacy Policy.<br />
                3. Materials You Provide; Account Use; Privacy; Third Party Web Sites. For materials you post or otherwise provide to House9ja in connection with the Services (your "Submission"), you grant House9ja an irrevocable, perpetual, worldwide license to (a) use, copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, modify, and translate your Submission, in connection with the Services or in any other media, and (b) sublicense these rights, to the maximum extent permitted by applicable law. House9ja will not pay you for your Submission. House9ja may remove your Submission at any time. For each Submission, you represent that you have all rights necessary to grant House9ja the rights in this paragraph and that the Submission complies with Section 2(a) above. House9ja will not use client contact information that is uploaded by agents into House9ja's Partner’s Program. You may not share your House9ja user account with others. You are responsible for all actions taken via your account. House9ja will treat your use of the Services in accordance with its Privacy Policy. Certain House9ja functionalities may involve the distribution of your Submission to third party Web sites over which House9ja has no control. House9ja is not responsible for and makes no warranties or representations pertaining to these third party Web sites, including but not limited to the content, availability, or functionality of such Web sites. You are responsible for ensuring that your Submission complies with the Terms of Service associated with any such third party Web site and you understand that your Submission and your use of a third party Web site will be treated in accordance with that third party Web site's own privacy policy.<br />
                4. Advertising. House9ja's business is primarily funded through advertising. You understand and agree that the Services may include advertisements, and that these are necessary to support the Services. To help make the advertisements relevant and useful to you, House9ja may serve advertisements based on the information we collect from you or in relation to your interaction on our site. See the our Privacy Policy for more details. In the event that you have entered into a separate agreement ("Partners Solutions Agreement") with House9ja under which you are granted the right to use certain of House9ja's Partners Solutions products (the "Partners Solutions Products"), House9ja will not serve advertising on the Partners Solutions Products unless otherwise provided in the Partners Solutions Agreement.<br />
                5. Additional Terms for Use of Partners Solutions. In the event that you have entered into a separate Partners Solutions Agreement with House9ja, your use of the Partners Solutions Products will be subject to the Partners Solutions Agreement and, if there is any conflict between the Partners Solutions Agreement and these Terms of Service, the Partners Solutions Agreement will control.<br />
                6. Software. The Services may include software for use in connection with the Services. If such software is accompanied by an end user license agreement ("EULA"), the terms of the EULA will govern your use of the software. If such software is not accompanied by a EULA, then House9ja grants to you a non-exclusive, revocable, personal, non-transferable license to use such software solely in connection with the Services and in accordance with these Terms of Service.<br />
                7. Linked Materials. The Services include links to third-party products, services and Web sites. House9ja does not endorse, and takes no responsibility for such products, services, and Web sites.<br />
                8. Claims of Copyright Infringement. House9ja respects the intellectual property rights of others, and asks that everyone using the Services do the same. Anyone who believes that their work has been reproduced on the Services in a way that constitutes copyright infringement may notify House9ja's copyright agent in accordance with applicable law of the Federal Republic of Nigeria:

                Identification of the copyrighted work that you claim has been infringed;

                Identification of the material that you claim is infringing and needs to be removed, including a description of where it is located on the Services so that the copyright agent can locate it;

                Your address, telephone number, and, if available, e-mail address, so that the copyright agent may contact you about your complaint; and

                A signed statement that the above information is accurate; that you have a good faith belief that the identified use of the material is not authorized by the copyright owner, its agent, or the law; and, under penalty of perjury, that you are the copyright owner or are authorized to act on the copyright owner's behalf in this situation.
                <br />
                 9. Intellectual Property. The Services are the property of House9ja, and subject to the intellectual property rights of House9ja and its partners. All rights reserved.<br />

                10. NO WARRANTY. HOUSE9JA PROVIDES THE SERVICES "AS IS," "WITH ALL FAULTS" AND "AS AVAILABLE," AND THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY, AND EFFORT IS WITH YOU. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, HOUSE9JA AND ITS SUPPLIERS MAKE NO REPRESENTATIONS, WARRANTIES OR CONDITIONS, EXPRESS OR IMPLIED. HOUSE9JA AND ITS SUPPLIERS EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES OR CONDITIONS, EXPRESS, STATUTORY AND IMPLIED, INCLUDING WITHOUT LIMITATION (A) WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE EFFORT, ACCURACY, TITLE, QUIET ENJOYMENT, NO ENCUMBRANCES, NO LIENS AND NON-INFRINGEMENT, (B) WARRANTIES OR CONDITIONS ARISING THROUGH COURSE OF DEALING OR USAGE OF TRADE, AND (C) WARRANTIES OR CONDITIONS OF UNINTERRUPTED OR ERROR-FREE ACCESS OR USE.<br />

                11. LIABILITY LIMITATION; EXCLUSIVE REMEDY. IN NO EVENT WILL HOUSE9JA OR ANY SUPPLIER BE LIABLE FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION ANY INDIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL, OR PUNITIVE DAMAGES ARISING OUT OF, BASED ON, OR RESULTING FROM THESE TERMS OF SERVICE OR YOUR USE OF THE SERVICES, EVEN IF SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE EXCLUSION OF DAMAGES UNDER THIS PARAGRAPH IS INDEPENDENT OF YOUR EXCLUSIVE REMEDY AND SURVIVES IN THE EVENT SUCH REMEDY FAILS OF ITS ESSENTIAL PURPOSE OR IS OTHERWISE DEEMED UNENFORCEABLE. THESE LIMITATIONS AND EXCLUSIONS APPLY WITHOUT REGARD TO WHETHER THE DAMAGES ARISE FROM (A) BREACH OF CONTRACT, (B) BREACH OF WARRANTY, (C) NEGLIGENCE, OR (D) ANY OTHER CAUSE OF ACTION, TO THE EXTENT SUCH EXCLUSION AND LIMITATIONS ARE NOT PROHIBITED BY APPLICABLE LAW. IF YOU DO NOT AGREE WITH ANY PART OF THESE TERMS OF SERVICE, OR YOU HAVE ANY DISPUTE OR CLAIM AGAINST HOUSE9JA OR ITS SUPPLIERS WITH RESPECT TO THESE TERMS OF SERVICE OR THE SERVICES, THEN YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SERVICES.
                <br />
                12. Changes; Discontinuance. House9ja reserves the right to change these Terms of Service, and you are responsible for regularly reviewing these Terms of Service. Your continued use of the Services after the effective date of such changes will constitute acceptance of and agreement to any such changes. House9ja may suspend or discontinue the Services at any time to you and/or to others, without notice.
                <br />
                13. Choice of Law; Disputes. These Terms of Service are governed by the laws of the Federal Republic of Nigeria, without giving effect to its conflict of laws provisions. In any dispute arising under this Agreement, the prevailing party will be entitled to attorneys' fees and expenses.
                <br />
                14. General. You agree not to export from anywhere any part of the Services provided to you or any direct product thereof except in compliance with House9ja and with all licenses and approvals required under, applicable export laws, rules and regulations. The section titles in these Terms of Service are solely used for the convenience of the parties and have no legal or contractual significance. House9ja may assign this Agreement, in whole or in part, at any time with or without notice to you. You may not assign these Terms of Service or assign, transfer or sublicense your rights, if any, in the Service. House9ja's failure to act with respect to a breach by you or others does not waive its right to act with respect to subsequent or similar breaches. Except as expressly stated herein, these Terms of Service constitute the entire agreement between you and House9ja with respect to the Services and supersede all prior or contemporaneous communications of any kind between you and House9ja with respect to the Services.
            </p>

        </div>

    </div>
    
</div>
