﻿@{
    ViewBag.Title = "Amaizing properties and services in Nigeria";
    ViewBag.Active = "home";
}


@section styles{
      
<link href="~/Content/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/owl.theme.css" rel="stylesheet" />
    <style>
        #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
    </style>
}


@*<div id="jumboCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:20px;">

    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
        <li data-target="#jumboCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#jumboCarousel" data-slide-to="1"></li>
        <li data-target="#jumboCarousel" data-slide-to="2"></li>
        <li data-target="#jumboCarousel" data-slide-to="3"></li>
    </ol><!-- end carousel-indicators -->
    <!-- Wrapper for Slides -->
    <div class="container">
        <div class="carousel-inner" role="listbox">
            <div class="item active" id="slide1">
                <a href="#"><img src="~/Images/slider1.png" alt="Slide 1"></a>
                <div class="carousel-caption">
                    <h1>#Slide Title</h1>
                    <p class="lead">This text is super engaging and makes you want to click the button.</p>
                    <a href="#" class="btn btn-lg btn-primary">Learn More</a>
                </div><!-- end carousel-caption -->
            </div><!-- end slide1 -->
            <div class="item" id="slide2">
                <img src="~/Images/slider2.jpg" alt="Slide 2">
                <div class="carousel-caption">
                    <h1>#Slide Title</h1>
                    <p class="lead">This text is super engaging and makes you want to click the button.</p>
                    <a href="#" class="btn btn-lg btn-primary">Learn More</a>
                </div><!-- end carousel-caption -->
            </div><!-- end slide2 -->
            <div class="item" id="slide3">
                <img src="~/Images/slider3.jpg" alt="Slide 3">
                <div class="carousel-caption">
                    <h1>#Slide Title</h1>
                    <p class="lead">This text is super engaging and makes you want to click the button.</p>
                    <a href="#" class="btn btn-lg btn-primary">Learn More</a>
                </div><!-- end carousel-caption -->
            </div><!-- end slide3 -->
            <div class="item" id="slide4">
                <img src="http://placehold.it/1920x720&amp;text=Slide+4" alt="Slide 4">
                <div class="carousel-caption">
                    <h1>#Slide Title</h1>
                    <p class="lead">This text is super engaging and makes you want to click the button.</p>
                    <button type="button" href="#" class="btn btn-lg btn-primary">Learn More</button>
                </div><!-- end carousel-caption -->
            </div><!-- end slide4 -->
        </div><!-- end carousel-inner -->

    </div><!-- end jumboCarousel -->

</div>*@

<section class="container" style="margin-top:40px;margin-bottom:30px;">
    <div class="row">
        <div class="col-sm-12">
            <div id="owl-demo" class="owl-carousel owl-theme">

                <div class="item">
                    <div class="sliderComment text-center">
                        <h3>Welcome To House9ja</h3>
                        <p>Find the best deals on properties for rent or sale accross Nigeria.</p>
                        
                    </div>
                    <img src="~/Images/slider3.jpg" alt="The Last of us">
                
                </div>
                <div class="item">
                    <div  class="sliderComment text-center">
                        <h3 >Find That Property</h3>
                        <p>Search from millions of listings accross Nigeria now.</p>
                        <a href="/Properties/All/All" class="button button-icon" ><i class="fa fa-search"></i>Search</a>
                    </div>
                    <img src="~/Images/slider2.jpg" alt="GTA V">
                
                </div>
                <div class="item">
                    <div class="sliderComment text-center">
                        <h3 >Find Services</h3>
                        <p>Search for verified real estate service providers eg Agents,Architects etc</p>
                        <a class="button button-icon" href="/Services/All"><i class="fa fa-search"></i>Search</a>
                    </div>
                <img src="~/Images/slider1.jpg" alt="Mirror Edge"></div>

            </div>
        </div>
    </div>
    



   
   
</section>





<section id="homeBody" class="findHome" >
    <div class="container">
        <div class="row cbox">

            <div  class="pmChoose" style="padding:10px;">
                <div class="pm-search-head">
                    <p>Great Locations</p>
                    <h5>Find The Property</h5>
                </div>

                <a href="/properties/All/All?state=All&city=All&area=All&order=0" class="pmCheck  col-sm-3 col-xs-6" layout="column" layout-align="center center">

                   
                    <label for="pm_all_listing" class="text-center" style="cursor:pointer;">
                        <img src="~/Images/all_listing.png" alt="All Listing"> <br />
                        <span>All Listing</span>
                    </label>
                </a>
                <a href="/properties/All/All?state=All&city=All&area=All&contract=0&order=0" class="pmCheck col-sm-3 col-xs-6" layout="column" layout-align="center center">
                   
                    <label for="pm_for_rent" class="text-center" style="cursor:pointer;">
                        <img src="~/Images/for_rent.png" alt="For Rent"><br />
                        <span>For Rent</span>
                    </label>
                </a>
                <a href="/properties/All/All?state=All&city=All&area=All&contract=1&order=0" class="pmCheck col-sm-3 col-xs-6" layout="column"  layout-align="center center">
                   
                    <label for="pm_for_sale" class="text-center" style="cursor:pointer;">
                        <img src="~/Images/for_sale.png" alt="For Sale"><br />
                        <span>For Sale</span>
                    </label>
                </a>
                <a href="/Services/All" class="pmCheck col-sm-3 col-xs-6"  layout="column" layout-align="center center">
                   
                    <label for="pm_auction" class="text-center" style="cursor:pointer;">
                        <img src="~/Images/auction.png" alt="Auction"><br />
                        <span>Services</span>
                    </label>
                </a>

            </div>
           
        </div>
    </div>
</section>











@*<section id="homeBody" class="findHome" ng-init="initPropertyStart();sv=true;">
    <div class="container">
        <div layout-gt-sm="row" layout="column" class="cbox">

            <div flex-gt-sm="30" class="pmChoose" style="padding:10px;">
                        <div class="pm-search-head">
                            <p>Great Locations</p>
                            <h5>Find The Property</h5>
                        </div>
              
                    <div class="pmCheck pmActive col-sm-6 col-xs-6" layout="column" ng-click="sv=true"  layout-align="center center">

                        <input type="radio"  id="pm_all_listing" class="hidden"  name="contract" checked value="">
                            <label for="pm_all_listing" class="text-center" style="cursor:pointer;">
                                <img src="~/Images/all_listing.png" alt="All Listing"> <br />
                                <span>All Listing</span>
                            </label>
                    </div>
                            <div class="pmCheck col-sm-6 col-xs-6" layout="column" ng-click="sv=true" layout-align="center center">
                                <input type="radio" id="pm_for_rent" class="hidden" name="contract" value="0">
                                <label for="pm_for_rent" class="text-center" style="cursor:pointer;">
                                    <img src="~/Images/for_rent.png" alt="For Rent"><br />
                                    <span>For Rent</span>
                                </label>
                            </div>
                            <div class="pmCheck col-sm-6 col-xs-6" layout="column" ng-click="sv=true" layout-align="center center">
                                <input type="radio" id="pm_for_sale" class="hidden"  name="contract" value="1">
                                <label for="pm_for_sale" class="text-center" style="cursor:pointer;">
                                    <img src="~/Images/for_sale.png" alt="For Sale"><br />
                                    <span>For Sale</span>
                                </label>
                            </div>
                            <div class="pmCheck col-sm-6 col-xs-6" ng-click="sv=false" layout="column" layout-align="center center">
                                <input type="radio" id="pm_auction" class="hidden"  name="contract" value="-1">
                                <label for="pm_auction" class="text-center" style="cursor:pointer;">
                                    <img src="~/Images/auction.png" alt="Auction"><br />
                                    <span>Services</span>
                                </label>
                            </div>
               
            </div>
            <div flex-gt-sm="70" style="background-color:white;padding:10px;">

                <div ng-hide="!sv">
                    <div layout-gt-sm="row" layout-padding layout="column" style="padding-bottom:0px;padding-top:0px;">
                        <div flex="50">
                            <label><small>Categorey</small></label>
                            <select class="form-control filterCntrl" ng-model="categorey" ng-change="catCheck()" style="margin:0px;padding:0px;">
                                <option ng-repeat="cat in cats track by $index" value="{{cat.Name}}">{{cat.Name}}</option>
                            </select>


                        </div>

                        <div flex="50">
                            <label><small>Type</small></label>
                            <select class="form-control filterCntrl" ng-model="type" style="margin:0px;padding:0px;">
                                <option ng-repeat="type in types track by $index" value="{{type}}">{{type}}</option>
                               
                            </select>
                        </div>
                    </div>


                    <div layout-gt-sm="row" layout-padding layout="column" style="padding-bottom:0px;padding-top:0px;">
                        <div flex="50">
                            <label><small>Location</small></label>
                            <div class="locDrop dropdown"><button data-toggle="dropdown" type="button" class="dropdown-toggle form-control filterCntrl text-left"><i class="ss-icon"></i><span class="ss-label single-line" title="Select City/Lga Area">{{state}}</span><i class="ss-caret caret"></i></button>
                            <ul id='loca' data-name='foo' class="dropdown-menu mainDrp locationDrop" >
                              <li>
                                  <label><small>Select State</small></label>
                                  <select class="form-control filterCntrl" ng-model="state" ng-change="stChange()" id="selState" style="margin:0px;padding:0px;">
                                      <option ng-repeat="state in states track by $index" value="{{state}}">{{state}}</option>
                                  </select>
                              </li>
                                <li>
                                    <label><small>Select City</small></label>
                                    <select id="selCity" ng-model="city" ng-change="ctChange()" class="form-control filterCntrl" style="margin:0px;padding:0px;">
                                        <option ng-repeat="city in cities track by $index" value="{{city}}">{{city}}</option>
                                    </select>
                                </li>
                                <li>
                                    <label><small>Select Area</small></label>
                                    <select ng-model="area" id="selArea" class="form-control filterCntrl" style="margin:0px;padding:0px;">
                                        <option ng-repeat="area in areas track by $index" value="{{area}}">{{area}}</option>
                                    </select>
                                </li>
                                  <li>
                                      <button data-toggle="dropdown" class="button button-icon alt small pull-right"><i class="fa fa-check"></i>Ok</button>
                                      <button data-toggle="dropdown" style="margin-right:2px;" ng-click="clearLoc()" class="button button-icon small pull-right"><i class="fa fa-close"></i>Clear</button>
                                      
                                  </li>
                           </ul>
                            
                            </div>
                        </div>

                        <div flex="50">
                            <label><small>Facilities</small></label>
                            <select id="fac" class="form-control filterCntrl" multiple style="margin:0px;padding:0px;">
                                @foreach (var item in HNApp.Utils.Helpers.ExplodeEnum(typeof(HNApp.Models.Facility)))
                                {

                                    <option value="@item.Value">@item.Key</option>

                                }
                            </select>
                        </div>
                    </div>


                    <div layout="column" style="margin:0px;padding-top:0px;" layout-margin layout-padding>
                        <div class="md-whiteframe-1dp" style="margin-top:0px;">
                            <h6 style="margin:5px;">What is your budget like? <small style="font-weight:700;color:black;">{{priceMod.minPrice | toWords}}</small> - <small style="font-weight:700;color:black;">{{priceMod.maxPrice | toWords}}</small></h6>
                            <div layout="column" layout-gt-sm="row" layout-align="center center">
                                <p  style="margin:5px;"><strong>Price Range</strong></p>
                                <p style="margin:5px;" layout-xs="column"><small flex-xs="100" class="text-warning"><input type="text"  class="priceTxt tbBorder" value="{{priceMod.minPrice | currency:'₦ ':0}}" id="min" placeholder="min" /></small><span flex-xs="100" class="text-center">-</span><small flex-xs="100" class="text-warning"><input id="max" type="text" class="priceTxt tbBorder" value="{{priceMod.maxPrice | currency:'₦ ':0}}" placeholder="max" /></small> </p>
                            </div>
                            </div>


                        <div layout="column" layout-gt-sm="row" style="margin:0px;padding:0px;">
                            <div flex-gt-sm>
                                <div style="margin:5px;" range-slider min="priceMod.range.min" max="priceMod.range.max" model-min="priceMod.minPrice" model-max="priceMod.maxPrice" step="10000"></div>
                            </div>
                            <div flex-gt-sm="none" class="text-center">
                                <button ng-click="proceedProp()"  class="button button-icon" type="submit"><i class="fa fa-search"></i>Show</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div ng-hide="sv" ng-controller="serviceSearchCntrl" ng-init="initStart()" layout="column"  layout-margin>
                    <div>
                        <label><small>Service Type</small></label>
                        <select ng-model="type" class="form-control filterCntrl" style="margin:0px;">
                            <option ng-repeat="service in services" value="{{service.Title}}">{{service.Title}}</option>
                        </select>
                    </div>



                    <div>
                        <label><small>Location</small></label>
                        <div class="locDrop dropdown">
                            <button data-toggle="dropdown" type="button" class="dropdown-toggle form-control filterCntrl text-left"><i class="ss-icon"></i><span class="ss-label single-line" title="Select City/Lga Area">{{state}}</span><i class="ss-caret caret"></i></button>
                            <ul id='loca' data-name='foo' class="dropdown-menu mainDrp locationDrop">
                                <li>
                                    <label><small>Select State</small></label>
                                    <select class="form-control filterCntrl" ng-model="state" ng-change="stChange()" id="selState" style="margin:0px;padding:0px;">
                                        <option ng-repeat="state in states track by $index" value="{{state}}">{{state}}</option>
                                    </select>
                                </li>
                                <li>
                                    <label><small>Select City</small></label>
                                    <select id="selCity" ng-model="city" ng-change="ctChange()" class="form-control filterCntrl" style="margin:0px;padding:0px;">
                                        <option ng-repeat="city in cities track by $index" value="{{city}}">{{city}}</option>
                                    </select>
                                </li>
                                <li>
                                    <label><small>Select Area</small></label>
                                    <select ng-model="area" id="selArea" class="form-control filterCntrl" style="margin:0px;padding:0px;">
                                        <option ng-repeat="area in areas track by $index" value="{{area}}">{{area}}</option>
                                    </select>
                                </li>
                                <li>
                                    <button data-toggle="dropdown" class="button button-icon alt small pull-right"><i class="fa fa-check"></i>Ok</button>
                                    <button data-toggle="dropdown" style="margin-right:2px;" ng-click="clearLoc()" class="button button-icon small pull-right"><i class="fa fa-close"></i>Clear</button>

                                </li>
                            </ul>

                        </div>
                    </div>

                    <div >
                        <label><small>Provider Name</small></label>
                        <input type="text" class="form-control filterCntrl" ng-model="name" placeholder="Name" />
                    </div>


                    <div  layout="row" layout-align="center center">
                        <button ng-click="proceed()" class="button button-icon" type="submit"><i class="fa fa-search"></i>Show</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>*@

<section class="services" >
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="service-item shadow-hover">
                    <i class="fa fa-home"></i>
                    <h4>Sell Property</h4>
                    <p>
                        List all your properties to millions of nigerians from the comfort of your home
                        with no cost at all. 
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-item shadow-hover">
                    <i class="fa fa-wrench"></i>
                    <h4>Real Estate Services</h4>
                    <p>
                        From bricklayers,interior decorators sell your expert services
                        to millions of Nigerians.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="service-item shadow-hover">
                    <i class="fa fa-dollar"></i>
                    <h4>Secured Payment</h4>
                    <p>
                        Not sure of a listing? contact us to make payments on your behalf
                        we bare 100% of the risk.
                    </p>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section>



<section class="module properties" ng-init="initMain()">
    <h3 class="text-center">Featured <strong>Listings</strong></h3>
    <div class="container">
        <div class="row productsWrapper make-equal">
            <div class="col-lg-4 col-md-4 col-sm-6"  ng-repeat="prop in props">
                <div class="property shadow-hover">
                    <a href="{{prop.Id | defUrl:prop.Title}}" class="property-img resized-img">
                        <div class="img-fade"></div>
                        <div class="property-tag button status">For {{prop.Contract | contr}}</div>
                        <div class="property-price">{{prop.Price| currency : "₦" : 0}}</div>
                        <div class="property-color-bar"></div>
                        <img src="{{prop.Photos[0] | defPath:'http://www.riserepartners.com/wp-content/uploads/2016/02/NoImageAvailablePic.png'}}" alt="Washed Out">
                    </a>
                    <div class="property-content">
                        <div class="property-title">
                            <h4 class="single-line"><a href="{{prop.Id | defUrl:prop.Title}}">{{prop.Title}}</a></h4>
                            <p class="property-address single-line"><i class="fa fa-map-marker icon"></i>{{prop.Address}},{{prop.Location.State}}</p>
                        </div>
                        <table class="property-details">
                            <tr>
                               
                                    <td><span class="hideextra"><i class="fa fa-building-o"></i>{{prop.Descriptions[0].Value}} {{prop.Descriptions[0].Name}}</span> </td>
                                    <td><span class="hideextra"><i class="fa fa-building-o"></i>{{prop.Descriptions[1].Value}} {{prop.Descriptions[1].Name}}</span></td>
                                    <td><span class="hideextra"><i class="fa fa-building-o"></i> {{prop.Descriptions[2].Value}} {{prop.Descriptions[2].Name}}</span></td>
                           

                            </tr>
                        </table>
                    </div>
                    <div class="property-footer">
                        <span class="left"><i class="fa fa-calendar-o icon"></i> {{prop.Date | to_local_date}}</span>
                        <span class="right">
                            @*<a href="#"><i class="fa fa-heart-o icon"></i></a>
                        <a href="#"><i class="fa fa-share-alt"></i></a>*@
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>

        
          
          
        </div>
        
    </div>



</section>






<section id="carousel" class="testimonalSec">
    <h3 class="text-center">Testimonial</h3>
    <div class="container">
        <div class="row testCarousel">
            <div class="col-md-8 col-md-offset-2">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item">
                            <div class="profile-circle" style="background-color: rgba(0,0,0,.2);">
                                <img class="testiP" src="~/Images/defaultProfile.jpg" />
                            </div>
                            <blockquote class="blockquote-reverse">
                                <p>The platform is great and easy to use.</p>
                                <div>Jetcipher Corp <cite title="Source Title">Jethro Daniel</cite></div>
                            </blockquote>
                        </div>
                        <div class="item">
                            <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                            <blockquote>
                                <p>This is a great platform for all real estate transactions.</p>
                                <div> <cite title="Source Title">Fortune Akujobi</cite></div>
                            </blockquote>
                        </div>
                        <div class="active item">
                            <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                            <blockquote>
                                <p>Anything realestate is house9ja. I dont have to be running up and down anymore.</p>
                                <div><cite title="Source Title">Benedict Anyalenkeya</cite></div>
                            </blockquote>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section scripts{
<script src="~/Scripts/owl.carousel.js"></script>
    <script>
       $(document).ready(function () {
           $(document).on('click', '.locDrop .dropdown-menu', function (e) {
               e.stopPropagation();
           });
            $("select#fac").smartselect({
                multiple: true,
                style: {
                    select: 'dropdown-toggle btn btn-default'
                },
                text: {
                    selectLabel: 'Select Facilities...'
                },
                toolbar: false,
                callback: {
                    onOptionSelected: function (val) {
                        angular.element(document.getElementById('homeBody')).scope().facChecked(val.get(0).dataset.value);
                    },
                    onOptionDeselected: function (val) {
                        angular.element(document.getElementById('homeBody')).scope().facChecked(val.get(0).dataset.value);
                    }
                }
           });
           
        });
    </script>


    <script type="text/javascript">
        //function carouselNormalization() {
        //    var items = $('#carousel .item'), //grab all slides
        //        heights = [], //create empty array to store height values
        //        tallest; //create variable to make note of the tallest slide

        //    if (items.length) {
        //        function normalizeHeights() {
        //            items.each(function () { //add heights to array
        //                heights.push($(this).height());
        //            });
        //            tallest = Math.max.apply(null, heights); //cache largest value
        //            items.each(function () {
        //                $(this).css('min-height', tallest + 'px');
        //            });
        //        };
        //        normalizeHeights();

        //        $(window).on('resize orientationchange', function () {
        //            tallest = 0, heights.length = 0; //reset vars
        //            items.each(function () {
        //                $(this).css('min-height', '0'); //reset min-height
        //            });
        //            normalizeHeights(); //run it again 
        //        });
        //    }
        //}


      

    
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({

                navigation: true, // Show next and prev buttons
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true,
                stopOnHover: true
                

            });

        });
       

    </script>

}