﻿
@{
    ViewBag.Title = "ServiceAdd";
    ViewBag.Active = "serv";
}
@using Microsoft.AspNet.Identity;

@section styles{

    <link href="~/Content/Dropzone.css" rel="stylesheet" />
}

<section class="subheader">
    <div class="container">
        <h1>Add Service</h1>
        <div class="breadcrumb right"><a href="/listing/">Services</a> <i class="fa fa-angle-right"></i> <a href="#" class="current">Add</a></div>
        <div class="clear"></div>
    </div>
</section>

<div class="well well-lg" id="submitProperty" ng-controller="serviceAdd" ng-init="init('@User.Identity.GetUserId()')">
    <div class="container md-whiteframe-2dp" style="background-color:white;">
        <h2>Service Listing <small>Feilds with <span class="text-danger">(*)</span> are required</small></h2>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div id="accordion" class="checkout">


                    <div class="panel checkout-step">
                        <form onsubmit="$('#collapseOne').collapse('hide'); $('#collapseTwo').collapse('show');" id="form1">
                            <div>
                                <span class="property-submit-num checkout-step-number">1</span>
                                <h4 class="checkout-step-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Service Info</a></h4>
                            </div>
                            <div id="collapseOne" class="collapse in">
                                <div class="checkout-step-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Location State*</label>

                                                <select name="state" ng-model="serv.Location.State" class="form-control" ng-change="stChange(serv.Location.State)" required>
                                                    <option ng-repeat="state in states track by $index" value="{{state}}">
                                                        {{state}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Location City/Lga*</label>
                                                <select ng-model="serv.Location.CityLGA" class="form-control" ng-change="clChange()" required>
                                                    <option ng-repeat="citlga in citlgas" value="{{citlga}}">{{citlga}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Location Area</label>

                                                <select name="area" ng-model="serv.Location.Area" class="form-control">
                                                    <option ng-repeat="area in areas track by $index" value="{{area}}">{{area}}</option>
                                                </select>
                                            </div>


                                        </div>
                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Type of service(s) offered?</label>
                                                <select data-select-Label="stuff" class="form-control treeFac" multiple>
                                                    @*<option ng-repeat="sv in svs track by $index" value="{{sv.Id}}">{{sv.Title}}</option>*@
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="name">Address</label>
                                                <input class="form-control" ng-model="serv.Address" placeholder="Office landmark e.g opposite church" required />
                                            </div>

                                        </div>

                                        <!-- /.col-lg-6 -->
                                    </div>
                                    <button type="submit" class="pull-right collapsed btn btn-sm btn-info"> Next </button>
                                </div>
                            </div>
                        </form>
                    </div>




                    <div class="panel checkout-step">
                        <form onsubmit="$('#collapseTwo').collapse('hide'); $('#collapseThree').collapse('show');" id="form2">
                            <div role="tab" id="headingTwo">
                                <span class="property-submit-num checkout-step-number">2</span>
                                <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Contact </a> </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="checkout-step-body">
                                    <div class="row">
                                        <p><strong>Tip</strong> Provide company logo and name if this listing is for a company, or your personal picture and Name for a freelancer</p>

                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Name*</label>
                                                <input id="name" ng-model="serv.Title" name="name" type="text" placeholder="Company or individual name" class="form-control input-md" required="">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Email*</label>
                                                <input id="name" ng-model="serv.Contact.Email" name="name" type="text" placeholder="Email Address" class="form-control input-md" required="">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Phone Number*</label>
                                                <input id="name" ng-model="serv.Contact.PhoneNumber" name="name" type="tel" placeholder="PhoneNumber" class="form-control input-md" required="">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Website Url</label>
                                                <input id="name" name="name" ng-model="serv.Url" type="text" placeholder="Website Url" class="form-control input-md">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label" for="name">Description*</label>
                                            <textarea class="form-control" ng-model="serv.Description" placeholder="Describe your services here" cols="30" required></textarea>
                                        </div>

                                        <div id="dropzone">
                                            <strong>Insert Logo/picture <small style="font-weight:100;">Max size is 1mb</small></strong>
                                            <div class="dropzone imgClick needsclick dz-clickable" id="hnImageUpload">
                                                <span style="margin-bottom:1px;" class="imgClickBtn needsclick btn btn-info btn-xs">+ Add</span>
                                                <div class="dz-message needsclick">
                                                    Drop image here or click to click to search your filesystem.<br>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <button type="submit" class="pull-right collapsed btn btn-sm btn-info"> Next </button>
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="panel checkout-step">
                        <div role="tab" id="headingThree">
                            <span class="property-submit-num checkout-step-number">3</span>
                            <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Verification </a> </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="checkout-step-body">
                                <p>To help better link Nigerians with capable and efficient services, House9ja advises users to pay a token for verification. Verified Listings enjoy the following benefits </p>
                                <p> <i class="fa fa-check-circle fa-2x" style="color:green;"></i> Higher Views</p>
                                <p> <i class="fa fa-check-circle fa-2x" style="color:green;"></i> Higher Precedence In Listings</p>
                                <p><i class="fa fa-check-circle fa-2x" style="color:green;"></i> Personal House9ja Recommendation</p>
                                <p><i class="fa fa-check-circle fa-2x" style="color:green;"></i> Automatic Suggestion In Relevant Properties And Much More</p>

                                <p>
                                    Verification costs the sum of <strong>₦5,000 only</strong>.
                                    <br />
                                   
                                </p>
                                <br/>
                                <div class="form-group text-center">
                                    <label class="control-label" for="name">Do You want to pay now?</label>
                                    <div>
                                        <md-radio-group layout="column" layout-align="left center" name="contactType" ng-model="verify" ng-required>

                                            <md-radio-button checked value="0" class="md-primary">Yes</md-radio-button>
                                            <md-radio-button value="1" class="md-primary"> No</md-radio-button>

                                        </md-radio-group>

                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
                                        <img src="~/Images/cards.png" class="img-responsive" />
                                    </div>
                                </div>
                                
                                
                                <br/>
                                <button onclick="$('#collapseThree').collapse('hide'); $('#collapseFour').collapse('show');" class="pull-right collapsed btn btn-sm btn-info"> Next </button>
                            </div>
                        </div>
                    </div>


                    <div class="panel checkout-step">
                        <div role="tab" id="headingFour">
                            <span class="property-submit-num checkout-step-number" style="background-color:#37a877;">4</span>
                            <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Finish </a> </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="checkout-step-body">
                                <p>Are you ok with the provided details above?. You can scroll up and recheck or click finish to add the listing now.</p>
                                <button ng-click="saveServ()" class="btn btn-success btn-lg"><i class="fa fa-check-circle-o"></i> Finish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/dropzone.js"></script>

    <script type="text/javascript">
    Dropzone.options.hnImageUpload = {
        paramName: "file",
        maxFiles: 1,
        url: "/api/files/",
        clickable: ['.imgClick', '.imgClickBtn'],
        addRemoveLinks: true,
        maxFilesize: 1,
        dictResponseError: "The upload failed, make sure you have an active internet access.",
        acceptedFiles: "image/*",
        init: function () {
            this.on("success", function (file, response) {
                angular.element(document.getElementById('submitProperty')).scope().addPhoto(response);
            });

            this.on("removedfile", function (file) {
                if (file.xhr.status == 200) {
                    var url = file.xhr.responseText.replace("\"", "");
                    angular.element(document.getElementById('submitProperty')).scope().removePhoto(url);
                    $.ajax({
                        url: '/api/files?path=' + url,
                        type: 'DELETE',
                        success: function (response) {
                            //...
                        }
                    });
                }
            });
        }
    };

    </script>

}