﻿@model HNApp.Models.ServiceViewModel
@{
    ViewBag.Title =  string.Join(" ",Model.ServicesOffered) + " Offerd by "+ Model.Listing.Title ;
    ViewBag.Active = "serv";
}
@using Microsoft.AspNet.Identity;
@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
}


<section class="section-full servBread">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-4">
                <h1 style="color:white;" class="clearfix">
                    @Model.Listing.Title
                    @if (Model.Listing.IsVerified)
                    {
                        <span class="" style="background-color:whitesmoke;padding:5px 10px; display: inline-flex;align-items: center; border:1px solid green;border-radius:5px;">
                            <i class="fa fa-check-circle-o" style="font-size:22px;margin-right:0px;color:green;"></i> <small style="color:green;font-size:18px;"><strong> Verified</strong></small>
                        </span>
                    }

                @if ((User.IsInRole("admin") || User.IsInRole("moderator") || Model.Listing.AuthorId == User.Identity.GetUserId()))
                {
                    <span class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="/service/edit/@Model.Listing.Id" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                        <button type="button" data-toggle="modal" data-target="#deleteService" class="btn btn-primary"><i class="fa fa-trash-o"></i> Delete</button>
                        @if (!Model.Listing.IsVerified && (User.Identity.GetUserId() == Model.Listing.AuthorId))
                        {
                            <button type="button" data-toggle="modal" data-target="#verifyService" class="btn btn-success"><i class="fa fa-check"></i> Verify</button>
                        }
                    </span>
                }

            </h1>
            <p style="color:white;font-weight:700;">@Model.ServicesOffered</p>
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Home  </a></li>
                <li>Services</li>
                <li class="crumb-2 last">@Model.Listing.Title
                </li>
            </ol>
        </div>

        <div class="modal fade" id="deleteService" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="padding:10px;border-radius:0px;">
                    <h2 class="text-danger">Delete Listing</h2>
                    <p>Are you sure you want to delete this listing?</p>


                    <div layout="row" layout-align="right right">
                        <md-button class="md-primary" data-dismiss="modal" ng-click="close()"> No</md-button>

                        <a href="/service/delete/@Model.Listing.Id" class="md-primary md-button">Yes</a>
                    </div>
                </div>
            </div>
        </div>


            <div class="modal fade" id="verifyService" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="padding:10px;border-radius:0px;">
                        <h2 class="text-success">Verify Listing</h2>
                        <p>To help better link Nigerians with capable and efficient services, House9ja advises users to pay a token for verification. Verified Listings enjoy the following benefits </p>
                        <p> <i class="fa fa-check-circle fa-2x" style="color:green;"></i> Higher Views</p>
                        <p> <i class="fa fa-check-circle fa-2x" style="color:green;"></i> Higher Precedence In Listings</p>
                        <p><i class="fa fa-check-circle fa-2x" style="color:green;"></i> Personal House9ja Recommendation</p>
                        <p><i class="fa fa-check-circle fa-2x" style="color:green;"></i> Automatic Suggestion In Relevant Properties And Much More</p>

                        <p>
                            Verification costs the sum of <strong>₦5,000 only</strong>.
                            <br />

                        </p>
                        <br />
                       <h6 class="form-group text-center">
                           Do you wish to proceed?
                       </h6>
                        <br />
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
                                <img src="~/Images/cards.png" class="img-responsive" />
                            </div>
                        </div>


                        <div layout="row" layout-align="right right">
                            <md-button class="md-primary" data-dismiss="modal" ng-click="close()"> No</md-button>

                            <a href="/transaction/beginverify/@Model.Listing.Id" class="md-primary md-button">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>

<!--Section Description-->
<section class="section-sm bg-dark">
    <div class="container">
        <div class="row" style="background-color:white;">
            <div class="col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-4 ">
                <div class="img-wrap-mod-1"><img src="@Model.Listing.ImagePath" alt="" width="320" height="320"></div>
                <div class="rateThis" data-rateyo-star-width="40px" data-rateyo-full-star="true" style="margin-bottom:5px;margin-top:5px;" data-rateyo-read-only="true" data-rateyo-rating="@Model.TotalRating"></div>
                <ul class="list-unstyled list-unstyled-mod-1">
                    <li><a href="callto:#"><span class="fa fa-2x fa-phone text-primary"></span> @Model.Listing.Contact.PhoneNumber</a></li>
                    <li><a href="callto:#"><span class="fa fa-2x fa-envelope-o text-primary"></span> @Model.Listing.Contact.Email</a></li>
                    <li><a href="callto:#"><span class="fa fa-2x fa-globe text-primary"></span> @Model.Listing.Url</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-8">
                <h4>Description</h4>
                <p>@Model.Listing.Description</p>
                <h5>Address</h5>
                <p><i>@Model.Listing.Address</i></p>
            </div>
        </div>
    </div>
</section>





<section style="background-color:white;">
    <div class="container">
        <div class="row">
            @if (!string.IsNullOrEmpty(ViewBag.Msg))
            {
                <div class="alert-box success" role="alert">
                    <em class="fa fa-lg fa-check">&nbsp;</em>
                    @ViewBag.Msg
                </div>
            }
            <div>
                <div class="detailBox">
                    <div class="titleBox">
                        <label>Reviews</label>
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                    </div>
                    <div class="commentBox">

                        <p class="taskDescription">Enter a comment with rating.</p>
                    </div>
                    <div class="actionBox">
                        <ul class="commentList">
                            @{
                                var i = 0;
                            }
                            @foreach (var item in Model.Listing.Reviews)
                            {

                                <li>

                                    <div class="commentText">
                                        <p class="">@item.Comment</p>
                                        <div class="rateThis" data-rateyo-rated-fill="#1D6FC2" data-rateyo-star-width="10px" data-rateyo-full-star="true" style="margin-bottom:5px;margin-top:5px;" data-rateyo-read-only="true" data-rateyo-rating="@item.Rating"></div>
                                        <span class="date sub-text">On @item.Date.ToString("D"), By @item.Name</span>
                                        @if ((User.IsInRole("admin") || User.IsInRole("moderator") || item.AuthorId == User.Identity.GetUserId()))
                                        {
                                            <span>
                                                <a href="/service/RemoveReview?index=@Model.Listing.Id-@Model.Listing.Title.Replace(" ","-")&revId=@i"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                        }


                                    </div>
                                </li>
                                i++;
                            }

                        </ul>


                        <form class="form" action="#" method="post" role="form">

                            <div class="form-group" style="width:100%;">
                                <textarea class="form-control" cols="10" type="text" name="Comment" placeholder="Your comments" required></textarea>
                            </div>
                            <div style="width:100%;" layout="row" layout-align="center center">
                                <div class="rateThis" id="cRate" data-rateyo-full-star="true" data-rateyo-star-width="20px" data-rateyo-spacing="1px"></div>
                                <input type="hidden" id="rtVal" value="0" name="Rating" />
                            </div>

                            <div class="form-group text-center">
                                <button class="button" type="submit" style="width:auto;">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







@section scripts{


    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $(".rateThis").rateYo();
            $("#cRate").on("rateyo.set", function (e, data) {
                $("#rtVal").val(data.rating);
            });
          
        });

      

    </script>
}