﻿@model HNApp.Models.ServicesViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Active = "serv";
}

<section class="subheader">
    <div class="container">
        <h4 style="color:white;font-weight:700;">@Model.Title</h4>
        <div class="breadcrumb right">Services <i class="fa fa-angle-right"></i> <a href="#" class="current">@Model.Type</a></div>
        <div class="clear"></div>
    </div>
</section>













@{ 
    var state = (string.IsNullOrEmpty(Model.State)) ? "All" : Model.State.Replace('_',' ');
    var city = (string.IsNullOrEmpty(Model.City)) ? "All" : Model.City.Replace('_', ' ');
    var area = (string.IsNullOrEmpty(Model.Area)) ? "All" : Model.Area.Replace('_', ' ');
    var name = (string.IsNullOrEmpty(Model.Name)) ? "" : Model.Name;
    var order = (Model.Order == null) ? "0" : ((int)Model.Order).ToString();

}

<section class="module" ng-controller="serviceSearchCntrl" ng-init="initEdit('@state','@city','@area','@name','@Model.Type','@order')">
    <div class="container">

        <div class="row">


            <div class="col-lg-4 col-md-4 sidebar">

                <div class="widget widget-sidebar sidebar-properties advanced-search">
                    <a style="z-index:999;width:100%;margin-bottom:10px;" hide-gt-sm class="button button-icon large" data-toggle="collapse" href="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
                        <i id="dic" class="fa fa-toggle-down"></i> Refine Search
                    </a>
                    <div id="searchCollapse">
                        <h4><span>Advanced Search</span></h4>
                        <div class="widget-content box">
                           



                                <div class="form-block border">
                                    <label>Service Type</label>
                                    <select ng-model="type" class="border">
                                        <option ng-repeat="service in services" value="{{service.Title}}">{{service.Title}}</option>
                                    </select>
                                </div>


                                <div class="form-block border">
                                    <label>Location</label>
                                    <div class="locDrop dropdown">
                                        <button style="margin-bottom:20px;" data-toggle="dropdown" type="button" class="dropdown-toggle form-control filterCntrl text-left"><span class="ss-label single-line" title="Select City/Lga Area">{{state | defText:'Select Location'}}</span><i class="ss-caret caret"></i></button>
                                        <ul id='loca' data-name='foo' class="dropdown-menu mainDrp locationDrop">
                                            <li>
                                                <label><small>Select State</small></label>
                                                <select class="form-control filterCntrl" ng-model="state" ng-change="stChange()" id="selState" style="margin:0px;padding:0px;">
                                                    <option ng-repeat="state in states track by $index" value="{{state}}">{{state}}</option>
                                                </select>
                                            </li>
                                            <li>
                                                <label><small>Select City</small></label>
                                                <select id="selCity" ng-model="city" ng-change="ctChange()" class="form-control filterCntrl" style="margin:0px;padding:0px;">
                                                    <option ng-repeat="city in cities track by $index" value="{{city}}">{{city}}</option>
                                                </select>
                                            </li>
                                            <li>
                                                <label><small>Select Area</small></label>
                                                <select ng-model="area" id="selArea" class="form-control filterCntrl" style="margin:0px;padding:0px;">
                                                    <option ng-repeat="area in areas track by $index" value="{{area}}">{{area}}</option>
                                                </select>
                                            </li>
                                            <li>
                                                <button data-toggle="dropdown" class="button button-icon alt small pull-right"><i class="fa fa-check"></i>Ok</button>
                                                <button data-toggle="dropdown" style="margin-right:2px;" ng-click="clearLoc()" class="button button-icon small pull-right"><i class="fa fa-close"></i>Clear</button>

                                            </li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="form-block border">
                                    <label>Provider Name</label>
                                    <input type="text" ng-model="name" class="border" placeholder="Name" />
                                </div>




                                <div class="form-block">
                                    <input ng-click="proceed()" type="button" class="button" value="Find Services" />
                                </div>
                            
                        </div><!-- end widget content -->
                    </div>

                </div><!-- end widget -->



            </div><!-- end sidebar -->


            <div class="col-lg-8 col-md-8">

                <div class="property-listing-header">
                    <span class="property-count left">@Model.Total Listing found</span>
                    <div  class="right">
                        <select ng-model="order" ng-change="proceed()">
                            <option value="0">New to Old</option>
                            <option value="1">Old to New</option>
                            <option value="3">Ratings(High to Low)</option>
                            <option value="2">Ratings(Low to High)</option>
                            
                        </select>
                    </div>

                    <div class="clear"></div>
                </div><!-- end property listing header -->
                <div class="row">
                    @if (Model.Total == 0)
                    {
                        <div class="alert-box"><i class="fa fa-warning icon"></i> No listings matching your filter was found!</div>
                    }

                @foreach (var item in Model.Listings)
                 {
                      var url = "/service/"+item.Id + "-"+item.Title.Replace(' ','-');
                    <div class="col-lg-12">
                        <div class="agent agent-row agent-row-sidebar shadow-hover">
                            <a href="@url" class="agent-img agent-list-img">
                                <div class="img-fade"></div>
                                <div class="button alt agent-tag">@item.ServiceIds.Count Service(s)</div>
                                <img src="~/Images/loading.gif" data-src="@item.ImagePath" alt="" />
                            </a>
                            <div class="agent-content">
                                <div class="agent-details">
                                    <h4 class="single-line clearfix">
                                         <a href="@url">@item.Title</a>
                                        @if (item.IsVerified)
                                        {
                                            <span class="pull-right" style="background-color:whitesmoke;padding:5px 10px;border:1px solid green;border-radius:5px;">
                                                <i class="fa fa-check-circle-o" style="font-size:22px;margin-right:0px;color:green;"></i> <small style="color:green;vertical-align:middle;"><strong>Verified</strong></small>
                                            </span>
                                        }
                                        
                                    </h4>
                                    <p class="single-line" id="@item.Id" ng-init="GetData('@item.Id')"><i class="fa fa-tag icon"></i></p>
                                </div>
                                <div class="agent-text giveMeEllipsis">
                                    @item.Description
                                </div>
                                <div class="agent-footer center">
                                    <ul class="social-icons circle">
                                        <li><a href="tel:@item.Contact.PhoneNumber"><i class="fa fa-phone"></i></a></li>
                                        <li><a href="mailto:@item.Contact.Email"><i class="fa fa-envelope-o"></i></a></li>
                                        <li><a href="@item.Url"><i class="fa fa-globe"></i></a></li>
                                    </ul>
                                    <a href="@url" class="button button-icon right"><i class="fa fa-angle-right"></i>View Details</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
                    


                    @Html.Pager(Model.Total, 10, Model.PageNo, 4)


                </div><!-- end listing -->



            </div><!-- end row -->

        </div><!-- end container -->
    </div>
</section>












@section scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.3.1/lazyload.min.js"></script>

  
    <script>
        new LazyLoad();
       $(document).ready(function () {
           $(document).on('click', '.locDrop .dropdown-menu', function (e) {
               e.stopPropagation();
           });

        });


     

    </script>




    <script type="text/javascript">

     // media query event handler
     if (matchMedia) {
         const mq = window.matchMedia("(min-width: 960px)");
         mq.addListener(WidthChange);
         WidthChange(mq);
     }

     // media query change
     function WidthChange(mq) {
         if (mq.matches) {
             $("#searchCollapse").collapse('show');
         } else {
             $("#searchCollapse").collapse('hide');
         }

     }

    </script>

}

