﻿
@{
    ViewBag.Title = "Edit property";
    ViewBag.Active = "prop";
}


@section styles{

    <link href="~/Content/Dropzone.css" rel="stylesheet" />
<style>
    .modal-backdrop.in {
        filter: alpha(opacity=1);
        opacity: 0;
    }
</style>
}

<section class="subheader">
    <div class="container">
        <h1>Edit Property</h1>
        <div class="breadcrumb right"><a href="/listing/">Listings</a> <i class="fa fa-angle-right"></i> <a href="#" class="current">Edit</a></div>
        <div class="clear"></div>
    </div>
</section>

@{
    var user = User.Identity.GetUser();
}

<div class="well well-lg" id="submitProperty" ng-controller="propEditCntrl" ng-init="init('@ViewBag.Id')">
    <div class="container md-whiteframe-2dp" style="background-color:white;">
        <h2>Property Listing <small>Feilds with <span class="text-danger">(*)</span> are required</small></h2>
        <hr />
        <div class="row">
            <div class="col-md-12">

                <div id="accordion" class="checkout">


                    <div class="panel checkout-step">
                        <form onsubmit="$('#collapseOne').collapse('hide'); $('#collapseTwo').collapse('show');" id="form1">
                            <div>
                                <span class="property-submit-num checkout-step-number">1</span>
                                <h4 class="checkout-step-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Property Info</a></h4>
                            </div>
                            <div id="collapseOne" class="collapse in">

                                <div class="checkout-step-body">

                                    <div class="row">
                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Title*</label>
                                                <input id="name" name="title" ng-model="prop.Title" type="text" placeholder="Short Title" class="form-control input-md" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="name">Contract Type*</label>
                                                <select name="ctype" ng-model="prop.Contract" class="form-control" convert-to-number required>
                                                    <option value="">Contract Type</option>
                                                    <option value="0">Rent</option>
                                                    <option value="1">Sale</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="name">Location State*</label>

                                                <select name="state" ng-model="prop.Location.State" class="form-control" ng-change="stChange(prop.Location.State)" required>
                                                    <option ng-repeat="state in states track by $index" value="{{state}}">
                                                        {{state}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Location City/Lga*</label>
                                                <select ng-model="prop.Location.CityLGA" class="form-control" ng-change="clChange()">
                                                    <option ng-repeat="citlga in citlgas" value="{{citlga}}">{{citlga}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Location Area</label>

                                                <select name="area" ng-model="prop.Location.Area" class="form-control">
                                                    <option ng-repeat="area in areas track by $index" value="{{area}}">{{area}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="name">Address*</label>
                                                <input id="name" name="address" ng-model="prop.Address" type="text" placeholder="Address" class="form-control input-md" required="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="name">Map Cordinates</label>
                                                <div class="input-group">
                                                    <input type="text" id="cord" value="{{prop.Location.Cordinates.Latitude}} {{prop.Location.Cordinates.Longitude}}" class="form-control" placeholder="Cordinates" disabled>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info" ng-click="getLoc()" type="button"><i class="fa fa-map-marker"></i></button>
                                                    </span>

                                                </div>
                                                <div class="help-block">
                                                    <i class="text-info">Picks your current location for the property</i>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">What are you Listing?*</label>
                                                <select name="catId" class="form-control" ng-model="prop.CategoreyId" ng-change="catCheck(prop.CategoreyId)"  convert-to-number required>
                                                    <option ng-repeat="cat in cats" value="{{cat.Id}}">{{cat.Name}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">What type of {{catName}}?</label>
                                                <select name="type" class="form-control" convert-to-number ng-model="prop.TypeId">
                                                    <option ng-repeat="type in types" value="{{$index}}">{{type}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Price*</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">₦</span>
                                                    <input id="price" name="name" ng-model="prop.Price" type="text" placeholder="Price without characters" step="10000" class="form-control input-md" required="">
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Facilities</label>
                                                <select data-select-Label="stuff" class="form-control treeFac" multiple>
                                                    @foreach (var item in HNApp.Utils.Helpers.ExplodeEnum(typeof(HNApp.Models.Facility)))
                                                    {

                                                        <option value="@item.Value">@item.Key</option>

                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="name">Additional Text</label>
                                                <textarea rows="5" name="adiText" ng-model="prop.AdditionalText" class="form-control" placeholder="Keep it short you can describe your property in the next step!"></textarea>
                                            </div>

                                        </div>

                                        <!-- /.col-lg-6 -->
                                    </div>

                                    <button class="pull-right collapsed btn btn-sm btn-info" type="submit" @*role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"*@> Next </button>
                                </div>

                            </div>
                        </form>
                    </div>


                    <div class="modal fade" id="addPropDialog" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-sm">

                            <div class="modal-content" style="border-radius:0px;">
                                <div class="modal-header modal-header-primary" style="border-radius:0px;">
                                    <h2 style="color:white;">{{state}} description</h2>
                                </div>
                                <div class="modal-body">
                                    <p>Provide the correct description of your property</p>
                                    <div class="form-group">
                                        <label class="control-label" for="name">Name</label>
                                        <select ng-model="dcrp.Name" ng-options="ald for ald in alds" class="form-control">
                                            <option>Select Name</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Value</label>
                                        <input ng-model="dcrp.Value" type="text" placeholder="Answer" class="form-control input-md">
                                    </div>

                                    <div layout="row" layput-align="center center"> <button class="btn btn-sm btn-info" ng-click="saveDcrp(dcrp)">Save</button> </div>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="panel checkout-step">
                        <div role="tab" id="headingTwo">
                            <span class="property-submit-num checkout-step-number">2</span>
                            <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Description </a> </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="checkout-step-body">
                                <div class="row">
                                    <p>Tell us about your property eg Year Built,Size of the property etc.. <button ng-click="showAdd()" class="ui primary labeled icon button tiny pull-right"><span class="icon fa fa-plus"></span> Add</button>@*<md-button ng-click="showAdd()" class="md-primary md-raised md-button pull-right">+Add</md-button>*@</p>
                                    <table class="table table-condensed">
                                        <tr><th>Name</th><th>Value</th><th></th></tr>
                                        <tr ng-repeat="dcr in prop.Descriptions"><td>{{dcr.Name}}</td><td>{{dcr.Value}}</td><td> <a ng-click="showEdit($index)"><i class="fa fa-edit"></i></a> <a ng-click="del($index)"><i class="fa fa-close"></i></a> </td></tr>

                                    </table>
                                </div>
                                <a class="collapsed btn btn-sm btn-info pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Next </a>
                            </div>
                        </div>
                    </div>









                    <div class="panel checkout-step">
                        <div role="tab" id="headingThree">
                            <span class="property-submit-num checkout-step-number">3</span>
                            <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Media </a> </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="checkout-step-body">
                                <div class="checout-address-step">
                                    <p><strong>Note</strong> You can only upload 10 images maximum, 1 video and 1 virtual inspection media</p>
                                    <div class="row">
                                        <div id="dropzone">
                                            <strong>Insert Images <small style="font-weight:100;">(optional)</small></strong>
                                            <div class="dropzone needsclick dz-clickable imgClick" id="hnImageUpload">
                                                <span style="margin:1px;" class="imgClickBtn needsclick btn btn-info btn-xs">+ Add</span>
                                                <div class="dz-message needsclick">
                                                    Drop Images here or click to search your filesystem.<br>
                                                </div>

                                            </div>
                                        </div>

                                        <div id="dropzone">
                                            <strong>Insert Video <small style="font-weight:100;">(optional)</small></strong>
                                            <div class="dropzone needsclick dz-clickable vidClick" id="hnVideoUpload">
                                                <span style="margin:1px;" class="bclick vidClickBtn needsclick btn btn-info btn-xs">+ Add</span>
                                                <div class="dz-message needsclick">
                                                    Drop Video here or click to click to search your filesystem.<br>
                                                </div>

                                            </div>
                                        </div>

                                        <div id="dropzone">
                                            <strong>Insert PDF or Word File here. <small style="font-weight:100;">(optional) Do you have terms or building plan? include it here.</small></strong>
                                            <div class="dropzone needsclick dz-clickable docClick" id="hnDocUpload">
                                                <span style="margin-bottom:1px;" class="bclick docClickBtn needsclick btn btn-info btn-xs">+ Add</span>
                                                <div class="dz-message needsclick">
                                                    Drop Document here or click to search your filesystem.<br>
                                                </div>

                                            </div>
                                        </div>
                                        <strong>Setup Virtual Inspection <small style="font-weight:100;">(optional) Provides a way for users to have a virtual tour of your proprerty using panorama images from your smartphone camera. <a href="#" style="color:#1D6FC2;">click here</a> to see a demo and know how to setup yours</small></strong>
                                        <input id="virtualTourURL" ng-model="prop.VirtualInspectPath" class="form-control" placeholder="Virtual Inspection" readonly />

                                    </div>
                                </div>
                                <a class="collapsed btn btn-sm btn-info pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> Next </a>
                            </div>
                        </div>
                    </div>






                    <div class="panel checkout-step">
                        <form onsubmit="$('#collapseFour').collapse('hide'); $('#collapseFive').collapse('show');" id="form2">
                            <div role="tab" id="headingFour">
                                <span class="property-submit-num checkout-step-number">4</span>
                                <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> Contact </a> </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="checkout-step-body">
                                    <div class="row">
                                        <p><strong>Tip</strong> You can provide alternate contact,apart from your profile details.</p>

                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Fullname*</label>
                                                <input name="contactName" ng-model="prop.Contact.Name" type="text" placeholder="Fullname" class="form-control input-md" required="">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Email*</label>
                                                <input name="contactEmail" ng-model="prop.Contact.Email" type="email" placeholder="Email Address" class="form-control input-md" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="name">Address*</label>
                                                <input name="contactAdr" ng-model="prop.Contact.Address" type="text" placeholder="Email Address" class="form-control input-md" required>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Phone Number*</label>
                                                <input name="contactPhone" type="tel" ng-model="prop.Contact.PhoneNumber" placeholder="PhoneNumber" class="form-control input-md" required="">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="name">Type*</label>
                                                <div>
                                                    <md-radio-group name="contactType" ng-model="prop.Contact.Source" ng-required>

                                                        <md-radio-button checked value="0" class="md-primary">Agent</md-radio-button>
                                                        <md-radio-button value="1" class="md-primary"> Owner</md-radio-button>

                                                    </md-radio-group>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <button type="submit" class="collapsed btn btn-sm btn-info pull-right" role="button"> Next </button>
                                </div>
                            </div>
                        </form>
                    </div>






                    <div class="panel checkout-step">
                        <div role="tab" id="headingFive">
                            <span class="property-submit-num checkout-step-number" style="background-color:#37a877;">5</span>
                            <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> Finish </a> </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="checkout-step-body">
                                <p>Are you ok with the provided details above?. You can scroll up and recheck or click finish to add the listing now.</p>
                                <button type="button" ng-click="saveProp()" class="btn btn-success btn-lg"><i class="fa fa-check-circle-o"></i> Finish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/dropzone.js"></script>
    <script>

        $("#price").keyup(function () {
            $("#price").val($("#price").val().replace(/[^\d.-]/g, ''));
        });

        function filter(objArray,fileType)
        {
            var count = 0;
            for (var i in objArray) {
                if (i.type.indexOf(fileType) !== -1)
                {
                    count++;
                }
            }
            return count;
        }

        Dropzone.options.hnImageUpload = {
            paramName: "file",
            maxFiles: 10,
            url: "/api/files/",
            clickable: ['.imgClick', '.imgClickBtn'],
            addRemoveLinks: true,
            maxFilesize: 1,
            dictResponseError:"The upload failed, make sure you have an active internet access.",
            acceptedFiles: "image/*",
            init: function () {

            

                this.on("success", function (file,response) {
                    angular.element(document.getElementById('submitProperty')).scope().addPhoto(response);
                });

                this.on("removedfile", function (file) {
                    if (file.url != undefined) {
                        angular.element(document.getElementById('submitProperty')).scope().removePhoto(file.url,1);
                        $.ajax({
                            url: '/api/files?path=' + file.url,
                            type: 'DELETE',
                            success: function (response) {
                                //...
                            }
                        });
                    }
                    else {
                        if (file.xhr.status == 200) {
                            var url = file.xhr.responseText.replace("\"", "");
                            angular.element(document.getElementById('submitProperty')).scope().removePhoto(url,0);
                            $.ajax({
                                url: '/api/files?path=' + url,
                                type: 'DELETE',
                                success: function (response) {
                                    //...
                                }
                            });
                        }
                    }
                });
            }
        };

        Dropzone.options.hnVideoUpload = {
            paramName: "file",
            url: "/api/files/",
            maxFiles: 1,
            addRemoveLinks: true,
            clickable: ['.vidClick', '.vidClickBtn'],
            maxFilesize: 10,
            dictResponseError: "The upload failed, make sure you have an active internet access.",
            acceptedFiles: "video/*",
            init: function () {


                this.on("success", function (file, response) {
                    angular.element(document.getElementById('submitProperty')).scope().addVideo(response);
                });

                this.on("removedfile", function (file) {
                    if (file.url != undefined) {
                        angular.element(document.getElementById('submitProperty')).scope().removeVideo(1);
                        $.ajax({
                            url: '/api/files?path=' + file.url,
                            type: 'DELETE',
                            success: function (response) {
                                //...
                            }
                        });
                    }
                    else {
                        if (file.xhr.status == 200) {
                            var url = file.xhr.responseText.replace("\"", "");
                            angular.element(document.getElementById('submitProperty')).scope().removeVideo(0);
                            $.ajax({
                                url: '/api/files?path=' + url,
                                type: 'DELETE',
                                success: function (response) {
                                    //...
                                }
                            });
                        }
                    }
                    
                });
            }
        };

        Dropzone.options.hnDocUpload = {
            paramName: "file",
            url: "/api/files/",
            maxFiles: 1,
            maxFilesize: 5,
            clickable: ['.docClick', '.docClickBtn'],
            addRemoveLinks: true,
            dictResponseError: "The upload failed, make sure you have an active internet access.",
            acceptedFiles: ",application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            init: function () {
                this.on("success", function (file, response) {
                    angular.element(document.getElementById('submitProperty')).scope().addFile(response);
                });

                this.on("removedfile", function (file) {
                    if (file.url != undefined) {
                        angular.element(document.getElementById('submitProperty')).scope().removeFile(1);
                        $.ajax({
                            url: '/api/files?path=' + file.url,
                            type: 'DELETE',
                            success: function (response) {
                                //...
                            }
                        });
                    }
                    else {
                        if (file.xhr.status == 200) {
                            var url = file.xhr.responseText.replace("\"", "");
                            angular.element(document.getElementById('submitProperty')).scope().removeFile(0);
                            $.ajax({
                                url: '/api/files?path=' + url,
                                type: 'DELETE',
                                success: function (response) {
                                    //...
                                }
                            });
                        }
                    }
                });
            }
        };

    </script>

    <script src="https://e3.eyespy360.com/widget/virtual-tours.1.0.0.js?key=2280&secret=CDGJYASIZ194J9DHU1VYV9EB95OGSDRH&externalTourID=hnProperty&target=virtualTourURL"></script>


}