﻿@model HNApp.Models.PropertiesViewModel
@{
    ViewBag.Title =  Model.Title ;
    ViewBag.Active = "prop";
}

<section class="subheader">
    <div class="container">
        <h4 style="color:white;font-weight:700;">@Model.Title</h4>
        <div class="breadcrumb right">@Model.Categorey <i class="fa fa-angle-right"></i> <a href="#" class="current">@Model.Type</a></div>
        <div class="clear"></div>
    </div>
</section>











@{ 
    var ct = (Model.Contract == null) ? "" : ((int)Model.Contract).ToString();
    var fc = (Model.Facilities == null) ? 0 : (int)Model.Facilities;
    var od = (Model.Order == null) ? 0 : (int)Model.Order;
    var state = (string.IsNullOrEmpty(Model.State)) ? "All" : Model.State;
    var city = (string.IsNullOrEmpty(Model.City)) ? "All" : Model.City;
    var area = (string.IsNullOrEmpty(Model.Area)) ? "All" : Model.Area;
}

<section class="module" ng-controller="mainCntrl" ng-init="initPropertyEdit('@state','@city','@area','@Model.Categorey','@Model.Type','@fc',@Model.MinPrice,@Model.MaxPrice,'@od','@ct');InitSort();">
    <div class="container">

        <div class="row">


            <div class="col-lg-4 col-md-4 sidebar">
                
                <div class="widget widget-sidebar sidebar-properties advanced-search">
                    <a style="z-index:999;width:100%;margin-bottom:10px;" hide-gt-sm class="button button-icon large" data-toggle="collapse" href="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
                        <i id="dic" class="fa fa-toggle-down"></i> Refine Search
                    </a>
                <div id="searchCollapse">
                    <h4><span>Advanced Search</span></h4>
                    <div class="widget-content box" >
                        <form>



                            <div class="form-block border">
                                <label>Contract Type</label>
                                <select ng-model="contract" class="border">
                                    <option value="">All</option>
                                    <option value="0">Rent</option>
                                    <option value="1">Sale</option>
                                </select>
                            </div>


                            <div class="form-block border">
                                <label>Categorey</label>
                                <select ng-model="categorey" ng-change="catCheck()" class="border">
                                    <option ng-repeat="cat in cats track by $index" value="{{cat.Name}}">{{cat.Name}}</option>
                                </select>
                            </div>

                            <div class="form-block border">
                                <label>Type</label>
                                <select ng-model="type" class="border">
                                    <option ng-repeat="type in types track by $index" value="{{type}}">{{type}}</option>
                                </select>
                            </div>

                            <div class="form-group border">
                                <label>Location</label>
                                <div class="locDrop dropdown">
                                    <button data-toggle="dropdown" type="button" class="dropdown-toggle form-control filterCntrl text-left"><i class="ss-icon"></i><span class="ss-label single-line" title="Select City/Lga Area">{{state | defText:'Select Location'}}</span><i class="ss-caret caret"></i></button>
                                    <ul id='loca' data-name='foo' class="dropdown-menu mainDrp locationDrop">
                                        <li>
                                            <label><small>Select State</small></label>
                                            <select class="form-control filterCntrl" ng-model="state" ng-change="stChange()" id="selState" style="margin:0px;padding:0px;">
                                                <option ng-repeat="state in states track by $index" value="{{state}}">{{state}}</option>
                                            </select>
                                        </li>
                                        <li>
                                            <label><small>Select City</small></label>
                                            <select id="selCity" ng-model="city" ng-change="ctChange()" class="form-control filterCntrl" style="margin:0px;padding:0px;">
                                                <option ng-repeat="city in cities track by $index" value="{{city}}">{{city}}</option>
                                            </select>
                                        </li>
                                        <li>
                                            <label><small>Select Area</small></label>
                                            <select ng-model="area" id="selArea" class="form-control filterCntrl" style="margin:0px;padding:0px;">
                                                <option ng-repeat="area in areas track by $index" value="{{area}}">{{area}}</option>
                                            </select>
                                        </li>
                                        <li>
                                            <button data-toggle="dropdown" class="button button-icon alt small pull-right"><i class="fa fa-check"></i>Ok</button>
                                            <button data-toggle="dropdown" style="margin-right:2px;" ng-click="clearLoc()" class="button button-icon small pull-right"><i class="fa fa-close"></i>Clear</button>

                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <div class="form-group border">
                                <label>Facilitie(s)</label>
                                <select id="fac" class="form-control filterCntrl" multiple>
                                    @foreach (var item in HNApp.Utils.Helpers.ExplodeEnum(typeof(HNApp.Models.Facility)))
                                    {

                                        <option value="@item.Value">@item.Key</option>

                                    }
                                </select>
                            </div>
                            <div class="form-block">
                                <label>Price</label>
                                <input type="text" id="min" value="{{priceMod.minPrice | currency:'₦ ':0}}" class="area-filter border" placeholder="Min" />
                                <input type="text" id="max" value="{{priceMod.maxPrice | currency:'₦ ':0}}" class="area-filter border" placeholder="Max" />
                                <div class="clear"></div>
                            </div>
                          

                            <div class="form-block">
                                <input type="button" ng-click="proceedEditProp()" class="button" value="Find Properties" />
                            </div>
                        </form>
                    </div><!-- end widget content -->
                </div>
                   
                </div><!-- end widget -->



            </div><!-- end sidebar -->


            <div class="col-lg-8 col-md-8">

                <div class="property-listing-header">
                    <span class="property-count left">@Model.Total properties found</span>
                    <div class="right">
                        <select ng-model="order" ng-change="proceedEditProp()" name="order" >
                            <option value="0">New to Old</option>
                            <option value="1">Old to New</option>
                            <option value="2">Price (Low to High)</option>
                            <option value="3">Price (High to Low)</option>
                        </select>
                    </div>
                    <div class="property-layout-toggle right">
                        <a ng-click="Sorter('grid')" id="grid" title="Grid" class="property-layout-toggle-item"><i class="fa fa-th-large"></i></a>
                        <a ng-click="Sorter('list')" id="list"  title="List" class="property-layout-toggle-item"><i class="fa fa-bars"></i></a>
                    </div>
                    <div class="clear"></div>
                </div><!-- end property listing header -->
                <div class="row">


                @if (Model.Total == 0)
                {
                    <div class="alert-box"><i class="fa fa-warning icon"></i> No properties matching your filter was found!</div>
                }

                    <div ng-hide="display == 'list'">

                        @foreach (var item in Model.Listings)
                        {
                            var url = "/property/" + item.Id + "-" + item.Title?.Replace(' ','-');
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="property shadow-hover">
                                    <a href="@url" class="property-img resized-img">
                                        <div class="img-fade"></div>
                                        <div class="property-tag button status">For @item.Contract</div>
                                        <div class="property-price">@item.Price.ToCurrency()</div>
                                        <div class="property-color-bar"></div>
                                        <img src="~/Images/loading.gif" data-src="@(item.Photos?.FirstOrDefault())" alt="@item.Title" />
                                    </a>
                                    <div class="property-content">
                                        <div class="property-title">
                                            <h4 class="single-line"><a href="@url">@item.Title</a></h4>
                                            <p class="property-address single-line"><i class="fa fa-map-marker icon"></i>@item.Address</p>
                                        </div>
                                        <table class="property-details">
                                            <tr>
                                                @if (item.Descriptions?.Count > 3)
                                                {
                                                    <td><span class="hideextra"><i class="fa fa-building-o"></i> @item.Descriptions[0].Value @item.Descriptions[0].Name</span> </td>
                                                    <td><span class="hideextra"><i class="fa fa-building-o"></i> @item.Descriptions[1].Value @item.Descriptions[1].Name</span></td>
                                                    <td><span class="hideextra"><i class="fa fa-building-o"></i> @item.Descriptions[2].Value @item.Descriptions[2].Name</span></td>
                                                }
                                                else
                                                {
                                                    if (item.Descriptions != null)
                                                    {
                                                        foreach (var sub in item.Descriptions)
                                                        {
                                                            <td><span class="hideextra"><i class="fa fa-building-o"></i> @sub.Value @sub.Name</span></td>
                                                        }
                                                    }

                                                }

                                                
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="property-footer">
                                        <span class="left"><i class="fa fa-calendar-o icon"></i> @item.Date.ToRelativeTime()</span>
                                        <span class="right">
                                            @*<a href="#"><i class="fa fa-heart-o icon"></i></a>
                                            <a href="#"><i class="fa fa-share-alt"></i></a>*@
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </div>
                        }

                       

                    </div>
                    

                <div ng-hide="display == 'grid'">
                    @foreach (var item in Model.Listings)
                    {
                        var url = "/property/" + item.Id + "-" + item.Title.Replace(' ', '-');
                        <div class="property property-row property-row-sidebar shadow-hover">
                            <a href="@url" class="property-img list-img">
                                <div class="img-fade"></div>
                                <div class="property-tag button status">For @item.Contract</div>
                                <div class="property-price">@item.Price.ToCurrency()</div>
                                <div class="property-color-bar"></div>
                                <img src="~/Images/loading.gif" data-src="@(item.Photos?.FirstOrDefault())" alt="@item.Title" />
                            </a>
                            <div class="property-content">
                                <div class="property-title">
                                    <h4><a href="@url">@item.Title</a></h4>
                                    <p class="property-address"><i class="fa fa-map-marker icon"></i>@item.Address</p>
                                    <div class="clear"></div>
                                    <p class="property-text giveMeEllipsis">@item.AdditionalText</p>
                                </div>
                                <table class="property-details">
                                    <tr>
                                        @if (item.Descriptions?.Count > 3)
                                        {
                                            <td><i class="fa fa-building-o"></i> @item.Descriptions[0].Value @item.Descriptions[0].Name</td>
                                                    <td><i class="fa fa-building-o"></i> @item.Descriptions[1].Value @item.Descriptions[1].Name</td>
                                                    <td><i class="fa fa-building-o"></i> @item.Descriptions[2].Value @item.Descriptions[2].Name</td>
                                        }
                                        else
                                        {
                                            if (item.Descriptions != null)
                                            {
                                                foreach (var sub in item.Descriptions)
                                                {
                                                    <td><i class="fa fa-building-o"></i> @sub.Value @sub.Name</td>
                                                }
                                            }

                                        }


                                    </tr>

                                </table>
                            </div>
                            <div class="property-footer">
                                <span class="left"><i class="fa fa-calendar-o icon"></i> @item.Date.ToRelativeTime()</span>
                                <span class="right">
                                    @*<a href="#"><i class="fa fa-heart-o icon"></i></a>
                                    <a href="#"><i class="fa fa-share-alt"></i></a>*@
                                    <a href="@url" class="button button-icon"><i class="fa fa-angle-right"></i>Details</a>
                                </span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                    
                </div>



                @Html.Pager(Model.Total,10,Model.PageNo,4)
                    

                </div><!-- end listing -->

           

        </div><!-- end row -->

    </div><!-- end container -->
        </div>
</section>


























@section scripts{
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.3.1/lazyload.min.js"></script>
<script>
		new LazyLoad();
       $(document).ready(function () {
           $(document).on('click', '.locDrop .dropdown-menu', function (e) {
               e.stopPropagation();
           });
        });
</script>  
    
    
    
    
 <script type="text/javascript">

     // media query event handler
     if (matchMedia) {
         const mq = window.matchMedia("(min-width: 960px)");
         mq.addListener(WidthChange);
         WidthChange(mq);
     }

     // media query change
     function WidthChange(mq) {
         if (mq.matches) {
             $("#searchCollapse").collapse('show');
         } else {
             $("#searchCollapse").collapse('hide');
         }

     }


     $(document).ready(function () {
         $('#searchCollapse').on('hide.bs.collapse', function (e) {
             $("#dic").attr('class', 'fa fa-toggle-down');
         })

         $('#searchCollapse').on('show.bs.collapse', function (e) {
             $("#dic").attr('class', 'fa fa-toggle-up');
         })
     });

</script>   
   
}