﻿@model HNApp.Models.PropertyViewModel
@{
    ViewBag.Title = Model.Listing.Title;
    ViewBag.Active = "prop";
}


@section styles{
<link href="~/Content/slick.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.0/dist/css/lightgallery.min.css" rel="stylesheet" />
}
<div ng-controller="contactCntrl" ng-init="init('@Model.Listing.Id')">
    <section id="singleProductBody" class="subheader">
        <div class="container">
            <h2 style="color:white;">@Model.Listing.Title
            
            @if (Model.CanEditDel)
            {
                <span class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a href="/property/edit/@Model.Listing.Id" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                    <button type="button" data-toggle="modal" data-target="#deleteProperty" class="btn  btn-primary"><i class="fa fa-trash-o"></i> Delete</button>
                </span>
            }
            </h2>
            <div class="breadcrumb right">@Model.Categorey.Name <i class="fa fa-angle-right"></i> <a href="#" class="current">@(Model.Listing.TypeId != -1 ? Model.Categorey.Types[Model.Listing.TypeId].Value: "All" )</a></div>
            <div class="clear"></div>
        </div>
    </section>
    

    <div class="modal fade" id="deleteProperty" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="NoOverlay modal-content" style="padding:10px;border-radius:0px;">
                <h2 class="text-danger">Delete Property</h2>
                <p>Are you sure you want to delete this property?</p>
             

                <div layout="row" layout-align="right right">
                    <md-button class="md-primary" data-dismiss="modal" ng-click="close()"> No</md-button>
                   
                    <a href="/property/delete/@Model.Listing.Id" class="md-primary md-button" >Yes</a>
                </div>
            </div>
        </div>
    </div>
    <section @*id="singleProductBody"*@ class="module" >
        <div class="container">
            @*<h2>
                
                @Model.Listing.Title
                @if (Model.CanEditDel)
                {
                    <span class="btn-group" role="group" aria-label="Basic example">
                        <a href="/property/edit/@Model.Listing.Id" class="btn btn-info"><i class="fa fa-pencil"></i> Edit</a>
                        <button type="button" data-toggle="modal" data-target="#deleteProperty" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                    </span>
                }
               
            </h2>
            <hr />*@

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 property-single-item">
                   
                    <div class="property-gallery">
                        <div class="slider-nav slider-nav-property-gallery">
                            <span class="slider-prev"><i class="fa fa-angle-left"></i></span>
                            <span class="slider-next"><i class="fa fa-angle-right"></i></span>
                        </div>
                        <div class="slide-counter"></div>
                        @if (Model.Listing.Photos?.Count >= 1)
                        {
                            <div class="slider slider-property-gallery">
                                
                                @foreach (var item in Model.Listing.Photos)
                                {
                                    <div data-thumb="@item" data-src="@item" class="slide"><img src="@item" alt="" /></div>
                                }
                            </div>

                            <div class="slider property-gallery-pager">
                                
                                @foreach (var item in Model.Listing.Photos)
                                {
                                    <a class="property-gallery-thumb"><img  src="@item" alt="" /></a>
                                }
                            </div>


                        }
                        else
                        {
                        
                            <div class="slider slider-property-gallery">
                                <div data-thumb="http://www.riserepartners.com/wp-content/uploads/2016/02/NoImageAvailablePic.png" data-src="http://www.riserepartners.com/wp-content/uploads/2016/02/NoImageAvailablePic.png" class="slide"><img src="http://www.riserepartners.com/wp-content/uploads/2016/02/NoImageAvailablePic.png" alt="" /></div>
                               
                            </div>
                            <div class="slider property-gallery-pager">
                                <a class="property-gallery-thumb"><img src="http://www.riserepartners.com/wp-content/uploads/2016/02/NoImageAvailablePic.png" alt="" /></a>
                               
                            </div>
                        }


                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="property-single-item">
                        <div layout-sm="row" layout="column" class="well" style="margin:10px 0px;">
                            <div flex-sm="50">
                                <div>
                                    <ul class="list-unstyled singleItemDs">
                                        <li><strong style="font-size:16px;"><i class="fa fa-calendar-check-o"></i> Created: </strong> <small style="font-size:14px;">@Model.Listing.Date.ToString("D")</small></li>
                                        <li><strong style="font-size:16px;"><i class="fa fa-map-marker"></i> Address:</strong> <small style="font-size:14px;">@Model.Listing.Address, @Model.Listing.Location.Area @Model.Listing.Location.CityLGA, @Model.Listing.Location.State</small></li>
                                        <li><strong style="font-size:16px;"><i class="fa fa-eye"></i> Seen: </strong> <small style="font-size:14px;">@Model.Listing.ViewCount</small></li>
                                        <li><strong style="font-size:16px;"><i class="fa fa-balance-scale"></i> Contract: </strong> <small style="font-size:14px;">For @Model.Listing.Contract.ToString()</small></li>
                                    </ul>
                                    <hr style="width:100%;" />
                                </div>
                            </div>
                            <div flex-sm="50">
                                <div class="text-center">
                                    <small>Price</small><br />
                                    <h4 id="price">@Model.Listing.Price</h4>
                                </div>
                            </div>
                        </div>
                        @{

                            var ismarked = User.Identity.GetUser()?.FavouriteProperties?.Count(a =>a.Value == Model.Listing.Id.ToString()) >= 1;
                        }
                        <div layout-sm="row" layout="column" layout-margin>
                            <a href="#" ng-click="showContact()" flex-sm="50" class="acBtn">Contact @Model.Listing.Contact.Source.ToString()[0].ToString().ToUpper()@Model.Listing.Contact.Source.ToString().Substring(1) </a>

                            @if (ismarked)
                        {
                        <a href="/listing/mark?id=@Model.Listing.Id&returnurl=/property/@Model.Listing.Id-@Model.Listing.Title.Replace(" ","-")" flex-sm="50" class="dgBtn">UnMark Favourite</a>
                        }
                        else
                        {
                        <a href="/listing/mark?id=@Model.Listing.Id&returnurl=/property/@Model.Listing.Id-@Model.Listing.Title.Replace(" ","-")" flex-sm="50" class="acBtn">Mark Favourite</a>
                        }
                        </div>





                        <div class="modal fade" id="contactDialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content" style="padding:10px;border-radius:0px;">
                                    <h2 class="text-info"> <i class="fa fa-id-card"></i> Contact Card</h2>
                                    <p>This is the contact details to get this property</p>
                                    <table class="table table-striped">
                                        <tr><th>Name</th> <th>Value</th></tr>
                                        <tr>
                                            <td><i class="fa fa-user-o"></i> Fullname</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="form-control copy-input"
                                                           value="@Model.Listing.Contact.Name" placeholder="Some path" readonly>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default copy-button" type="button"
                                                                data-toggle="tooltip" data-placement="left"
                                                                title="Copy to Clipboard">
                                                            <i class="fa fa-copy"></i> Copy
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-address-book-o"></i> Address</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="form-control copy-input" readonly
                                                           value="@Model.Listing.Contact.Address" placeholder="Some path">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default copy-button" type="button"
                                                                data-toggle="tooltip" data-placement="left"
                                                                title="Copy to Clipboard">
                                                            <i class="fa fa-copy"></i>  Copy
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-phone"></i> Phone Number</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="form-control copy-input"
                                                           value="@Model.Listing.Contact.PhoneNumber" placeholder="Some path" readonly>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default copy-button" type="button"
                                                                data-toggle="tooltip" data-placement="left"
                                                                title="Copy to Clipboard">
                                                            <i class="fa fa-copy"></i>  Copy
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-envelope-open-o"></i> Email</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="form-control copy-input"
                                                           value="@Model.Listing.Contact.Email" placeholder="Some path" readonly>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default copy-button" type="button"
                                                                data-toggle="tooltip" data-placement="left"
                                                                title="Copy to Clipboard">
                                                            <i class="fa fa-copy"></i>   Copy
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <div layout="row">
                                        <a class="md-button md-primary md-raised" href="tel:@Model.Listing.Contact.PhoneNumber"><i class="fa fa-phone"></i> Call Now</a>
                                        <div flex></div>
                                        <md-button class="md-primary" ng-click="close()">Close</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="row property-single-item">
                <div class="col-xs-12 col-sm-12 col-md-8" style="z-index:999;">
                    <div style="margin:15px 0px;">
                        <h3>About </h3>
                        <hr style="width:100%;" />
                       
                        <p class="abText">
                            @Model.Listing.AdditionalText
                        </p>
                    </div>


                    <div>
                        <h5>Description</h5>
                        <table class="table table-bordered table-striped">
                            @if (Model?.Listing.Descriptions.Count >= 1)
                            {
                                foreach (var item in Model.Listing.Descriptions)
                                {
                                    <tr><td>@item.Name</td> <td>@item.Value</td></tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2"><p class="text-center">No descriptions for this property</p></td>
                                </tr>
                            }


                        </table>
                    </div>

                    <div>
                        <h5>Facilities</h5>
                        <md-chips>
                            @if (((int)Model.Listing.Facilities) == 0)
                            {
                                <md-chip class="mychip"><i class="fa fa-info"></i> None Specified</md-chip>
                            }
                            else
                            {
                                var items = HNApp.Utils.Helpers.GetEnumFlagValues<HNApp.Models.Facility>((int)Model.Listing.Facilities);
                                foreach (var item in items)
                                {
                                    <md-chip class="mychip"><i class="fa fa-check"></i> @item.Value</md-chip>
                                }
                            }
                           

                        </md-chips>
                    </div>




                    <div class="pdMore" >
                        <ul class="tabs">
                            <li class="active" rel="tab1"><i class="fa fa-map"></i> Location</li>
                            <li rel="tab2"><i class="fa fa-video-camera"></i> Video</li>
                            <li rel="tab3"><i class="fa fa-download"></i> Attachment</li>
                            <li rel="tab4"><i class="fa fa-eye-slash"></i> Virtual Inspect</li>
                        </ul>
                        <div class="tab_container">
                            <h3 href="#" class="d_active tab_drawer_heading"  rel="tab1">Location</h3>
                            <div id="tab1" class="tab_content">
                                <div id="map"></div>
                            </div>
                            <!-- #tab1 -->
                            <h3 class="tab_drawer_heading" rel="tab2">Video</h3>
                            <div id="tab2" class="tab_content">
                               @if (!string.IsNullOrEmpty(Model.Listing.VideoPath))
                               {
                                <div id="video1">
                                    <video controls preload="none">
                                        <source src="@Model.Listing.VideoPath" type="video/mp4">
                                        Your browser does not support HTML5 video.
                                    </video>
                                </div>
                               }
                               else
                               {
                                <div class='text-center'><strong>No video found for this listing</strong></div>
                               }


                            </div>
                            <!-- #tab2 -->
                            <h3 class="tab_drawer_heading" rel="tab3">Attachment</h3>
                            <div id="tab3" class="tab_content">
                                @if (!string.IsNullOrEmpty(Model.Listing.VideoPath))
                                {
                                    <div class="col-md-2 column productbox text-center">
                                        <div><p class="fa fa-file-text fa-2x"></p></div>
                                        <div class="producttitle garage-title">Property Document</div>
                                        <div class="productprice clearfix">
                                            <div class="text-center" role="toolbar">
                                                <div class="btn-group" role="group"><a href="@Model.Listing.FilePath" class="btn btn-sm"><i class="fa fa-download"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class='text-center'><strong>No attachment for this property</strong></div>
                                }


                            </div>
                            <!-- #tab3 -->
                            <h3 class="tab_drawer_heading" rel="tab4">Virtual Inspect</h3>
                            <div id="tab4" class="tab_content">
                                @if (!string.IsNullOrEmpty(Model.Listing.VirtualInspectPath))
                                {
                                    <iframe src="@Model.Listing.VirtualInspectPath" style="width: 100%; height: 80vh;"></iframe>
                                }
                                else
                                {
                                    <div class='text-center'><strong>No Vitual inspection available for this property</strong></div>
                                }
                                
                            </div>
                            <!-- #tab4 -->
                        </div>
                        <!-- .tab_container -->
                    </div>




                </div>

                <div class="col-xs-12 col-sm-12 col-md-4" style="padding:10px;">
                    <div >
                    <h4>Listed By</h4>
                    <div layout="row" layout-padding class="md-whiteframe-1dp">
                        <div class="media-left img-width-auto">
                            <img class="round" src="@Model.User.ProfilePicPath" height="60" />
                        </div>
                        <div>
                            <h6 class="coloredBold">@Model.User.Fullname</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="@Model.User.Facebook"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                                    <a href="@Model.User.Twitter"><i id="social-tw" class="fa fa-2x fa-twitter-square social"></i></a>
                                    <a href="@Model.User.LinkedIn"><i id="social-gp" class="fa fa-2x fa-linkedin-square social"></i></a>
                            </ul>
                        </div>

                    </div>

                    @if (Model.RelatedListings.Count >= 1)
                    {
                        <div style="margin-top:10px;">
                            <h4>Related Listings</h4>
                            <ul id="related" class="">
                                @foreach (var item in Model.RelatedListings)
                                {
                                    var pic = item.Photos?.FirstOrDefault() ?? "http://www.riserepartners.com/wp-content/uploads/2016/02/NoImageAvailablePic.png";
                                <li>
                                    <div class="text-center">
                                        <img height="150" src="@pic" width="150" />
                                        <h6 class="coloredBold"><a href="#">@item.Title</a></h6>
                                        <ul class="list-unstyled">
                                            <li class="text-center"><strong>₦@item.Price.ToString("C0").Substring(1)</strong></li>
                                            <li><small>@(item.Address), @(item.Location?.CityLGA) @(item.Location?.State)</small></li>
                                            <li><small>@item.Date.ToString("D")</small></li>
                                        </ul>


                                    </div>
                                </li>


                                }
                            </ul>
                        </div>
                    }

</div>
                </div>



            </div>


        </div>
    </section>
</div>


@section scripts{
<script src="~/Scripts/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.0/dist/js/lightgallery.min.js"></script>
  
<script src="~/Scripts/propertyView.js"></script>
  
@if (Model.Listing.Location.Cordinate != null)
{
    <script>
        function initMap() {

            var uluru = { lat: @Model.Listing.Location.Cordinate.Latitude, lng: @Model.Listing.Location.Cordinate.Longitude};
    var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
                    var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });


      }
    </script>
}
else
{
    <script>
        $("#tab1").html("<div class='text-center'><strong>No map coordinates found for this listing</strong></div>");
    </script>
}

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADloPfK8RFUkyPDP0Ixh-PjDhWLBJHaWk&callback=initMap">
</script>

}