﻿@model HNApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();

    
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <button type="submit" href="#" id="@loginProviders[1].AuthenticationType" class="btn btn-lg btn-primary btn-block" name="provider" value="@loginProviders[1].AuthenticationType" title="Log in using your @loginProviders[1].Caption account">Facebook</button>
                </div>
               
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <button type="submit" href="#" id="@loginProviders[0].AuthenticationType" class="btn btn-lg btn-info btn-block" name="provider" value="@loginProviders[0].AuthenticationType" title="Log in using your @loginProviders[0].Caption account">Google</button>
                </div>

            </div>
    }
}
