﻿@model HNApp.Models.MyAccountViewModel
@{
    ViewBag.Title = "User Profile";
}


@section styles{

    <link href="~/Content/dark-bottom.css" rel="stylesheet" />
}

@if (!User.Identity.GetUser().EmailConfirmed)
{
    <div class="cc_banner-wrapper "><div class="cc_banner cc_container cc_container--open"><a href="/account/sendcode" class="cc_btn cc_btn_accept_all">Resend</a><p class="cc_message">We have sent a confirmation code to your email, please confirm to begin to list your properties.</p></div></div>

}


<section class="subheader">
    <div class="container">
        <h1>My Profile</h1>
        <div class="breadcrumb right">Account <i class="fa fa-angle-right"></i> <a href="#" class="current">Home</a></div>
        <div class="clear"></div>
    </div>
</section>









<section style="margin-top:70px;margin-bottom:70px;">
    <div class="container">
        <div class="row">
           @if (!string.IsNullOrEmpty(ViewBag.Msg))
           {
            <div class="alert-box success" role="alert">
                <em class="fa fa-lg fa-check">&nbsp;</em>
                @ViewBag.Msg
           </div>
           }
                @Html.ValidateMessage()
            </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 sidebar-left">
                <div class="widget member-card">
                    <div class="member-card-header">
                        <a href="#" class="member-card-avatar"><img  height="90" src="@User.Identity.GetUser().ProfilePicPath" alt="" /></a>
                        <h3>@Model.Fullname</h3>
                        <p><i class="fa fa-envelope icon"></i> @Model.Email</p>
                    </div>
                    <div class="member-card-content">
                        <img class="hex" src="http://rypecreative.com/homely/images/hexagon.png" alt="" />
                        <ul class="list-unstyled">
                            <li class="active"><a href="/account/index"><i class="fa fa-user icon"></i>Profile</a></li>
                            <li><a href="/account/listings"><i class="fa fa-home icon"></i>My Properties</a></li>
                            <li><a href="/account/services"><i class="fa fa-wrench icon"></i>My Services</a></li>
                            <li><a href="/account/favourite"><i class="fa fa-heart icon"></i>Favorited Properties</a></li>
                            <li><a href="/account/logoff"><i class="fa fa-reply icon"></i>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-9">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                
                            <div class="col-lg-3">
                                <div class="edit-avatar">
                                    <img class="profile-avatar" src="@Model.ProfilePath" alt="" />
                                    <div href="#" class="button small btn-file"><span>Change Avatar</span>  <input id="pfile" onchange="InvokeCh()" type="file"></div>
                                </div>
                            </div>

                            <div class="col-lg-9">

                                <div class="form-block">
                                    <label>Full Name</label>
                                    @Html.EditorFor(a => a.Fullname, new { htmlAttributes = new { @class = "hnInput border" } })
                                    @Html.ValidationMessageFor(a => a.Fullname, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-block">
                                    <label>Email</label>
                                    @Html.EditorFor(a => a.Email, new { htmlAttributes = new { @class = "hnInput border" } })
                                    @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-block">
                                    <label>Phone</label>
                                    @Html.EditorFor(a => a.PhoneNumber, new { htmlAttributes = new { @class = "hnInput border" } })
                                    @Html.ValidationMessageFor(a => a.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div><!-- end row -->

                        <div class="form-block">
                            <label>Address</label>
                            @Html.TextAreaFor(a => a.Address, new { @class = "hnInput border" })
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <h4>Social Profiles</h4>
                                <div class="divider"></div>
                                <div class="form-block">
                                    <label>Facebook</label>
                                    @Html.EditorFor(a => a.Facebook, new { htmlAttributes = new { @class = "hnInput border", placeholder = "Facebook url to your profile" } })
                                    @Html.ValidationMessageFor(a => a.Facebook, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-block">
                                    <label>Twitter</label>
                                    @Html.EditorFor(a => a.Twitter, new { htmlAttributes = new { @class = "hnInput border", placeholder = "twitter url to your profile" } })
                                    @Html.ValidationMessageFor(a => a.Twitter, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-block">
                                    <label>Linkedin</label>
                                    @Html.EditorFor(a => a.LinkedIN, new { htmlAttributes = new { @class = "hnInput border", placeholder = "Linked IN url to your profile" } })
                                    @Html.ValidationMessageFor(a => a.LinkedIN, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4>Change Password</h4>
                                <div class="divider"></div>
                                <div class="form-block">
                                    <label>Current Password</label>
                                    @Html.EditorFor(a => a.Password, new { htmlAttributes = new { @class = "hnInput border" } })
                                    @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-block">
                                    <label>New Password</label>
                                    @Html.EditorFor(a => a.NewPassword, new { htmlAttributes = new { @class = "hnInput border" } })
                                    @Html.ValidationMessageFor(a => a.NewPassword, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-block">
                                    <label>Confirm New Password</label>
                                    @Html.EditorFor(a => a.ConfirmNewPassword, new { htmlAttributes = new { @class = "hnInput border" } })
                                    @Html.ValidationMessageFor(a => a.ConfirmNewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div><!-- end row -->

                        <div class="form-block">
                            <button type="submit" class="button button-icon"><i class="fa fa-check"></i>Save Changes</button>
                        </div>
                    }
                   
            </div><!-- end col -->
        </div><!-- end row -->

    </div><!-- end container -->
</section>


<div class="modal fade" id="prModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Image Upload Progress</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><i>Uploading...</i></p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    
<script type="text/javascript">
    function InvokeCh()
    {
        var input = $("#pfile").get(0).files[0];
        if (!input || !input.type.match(/image.*/)) return;
        var fd = new FormData();
        fd.append("file", input);
        $('#prModal').modal();
        $.ajax({
            url: "/api/files/",
            type: "POST",
            data: fd,
            contentType: false,
            cache: false,
            processData: false,
            xhr: function () {
                //upload Progress
                var xhr = $.ajaxSettings.xhr();
                if (xhr.upload) {
                    xhr.upload.addEventListener('progress', function (event) {
                        var percent = 0;
                        var position = event.loaded || event.position;
                        var total = event.total;
                        if (event.lengthComputable) {
                            percent = Math.ceil(position / total * 100);
                        }
                        //update progressbar
                        $('.progress-bar').width(percent + "%");
                    }, true);
                }
                return xhr;
            }
        }).done(function (res) { //
            window.location.href = "/account/UpdateProfilePic?url=" + res;
        });
      
    }
</script>
    
}