﻿@{
    ViewBag.Title = "Log in";
}
@using HNApp.Models
@model LoginViewModel

<section class="subheader">
    <div class="container">
        <h1>Login</h1>
        <div class="breadcrumb right">Account <i class="fa fa-angle-right"></i> <a href="#" class="current">Login</a></div>
        <div class="clear"></div>
    </div>
</section>



<section class="module login" style="padding:20px 0px; background-color:#ebf1f5;">
    <div class="container">
        <div class="row">
            @Html.ValidateMessage()
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <p>Don't have an account? <strong><a href="/account/register">Register here.</a></strong></p>

                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = "/account/index" })

               
                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">or</span>
                </div>
                @using (Html.BeginForm("login", "account", FormMethod.Post, new { @class = "login-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-block">
                        <label>Email</label>
                        @Html.EditorFor(a => a.Email, new { htmlAttributes = new { @class = "hnInput border" } })
                        @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-block">
                        <label>Password</label>
                        @Html.EditorFor(a => a.Password, new { htmlAttributes = new { @class = "hnInput border" } })
                        @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-block">
                        <label>@Html.CheckBoxFor(a => a.RememberMe) Remember Me</label><br />
                    </div>
                    <div class="form-block">
                        <button class="button button-icon" type="submit"><i class="fa fa-angle-right"></i>Login</button>
                    </div>
                    <div class="divider"></div>
                    <p class="note"><a href="#">I don't remember my password.</a> </p>
                }
                
            </div>
        </div>

    </div>
</section>