﻿@using HNApp.Models;
@model HNApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<section class="subheader">
    <div class="container">
        <h1>Register</h1>
        <div class="breadcrumb right">Account <i class="fa fa-angle-right"></i> <a href="#" class="current">Register</a></div>
        <div class="clear"></div>
    </div>
</section>



<section class="module login" style="padding:20px 0px; background-color:#ebf1f5;">
    <div class="container">

        <div class="row">
            @Html.ValidateMessage()
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <p>Already have an account? <strong><a href="/account/login">Login here.</a></strong></p>
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = "/account/index" })

                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">or</span>
                </div>
                @using (Html.BeginForm("register", "account", FormMethod.Post, new { @class="login-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-block">
                        <label>FullName</label>
                        @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "hnInput border" } })
                        @Html.ValidationMessageFor(a => a.Fullname, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-block">
                        <label>Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "hnInput border" } })
                        @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-block">
                        <label>Phone Number</label>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "hnInput border" } })
                        @Html.ValidationMessageFor(a => a.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-block">
                        <label>Password</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "hnInput border" })
                        @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-block">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "hnInput border" })
                        @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-block">
                        <button class="button button-icon" type="submit"><i class="fa fa-angle-right"></i>Register</button>
                    </div>
                    <div class="divider"></div>
                    <p class="note">By clicking the "Register" button you agree with our <a href="#">Terms and conditions</a></p>
                }
               
            </div>
        </div><!-- end row -->

    </div>
</section>
<script src="~/Scripts/jquery.validate.min.js"></script>