﻿
@{
    ViewBag.Title = "Registration Complete";
}


<section class="subheader">
    <div class="container">
        <h1>Registration Complete</h1>
        <div class="breadcrumb right">Account <i class="fa fa-angle-right"></i> <a href="#" class="current">Verify</a></div>
        <div class="clear"></div>
    </div>
</section>


<div class="container" style="margin:40px;background: #ebf1f5;">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 md-whiteframe-5dp" style="padding:10px;background-color:white;">
            <p class="text-center">
                <span class="fa fa-check  regCheck">
                </span>
            </p>
            <p style="font-weight:500;color:#585858;">
                Thank you for signing up on House9ja, we have sent an email to verify your account please <strong class="text-info"> veify your account</strong> and begin to list your properties and services.
            </p>
        </div>
    </div>
</div>

