﻿
@{
    ViewBag.Title = "Favourite";
}
@model ICollection<HNApp.Models.ServiceListing>


<section class="subheader">
    <div class="container">
        <h1>My Service</h1>
        <div class="breadcrumb right">Account <i class="fa fa-angle-right"></i> <a href="#" class="current">Services</a></div>
        <div class="clear"></div>
    </div>
</section>



<section style="margin-top:70px;margin-bottom:70px;">
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-3 sidebar-left">
                <div class="widget member-card">
                    @{ 
                        var user = User.Identity.GetUser();
                    }
                    <div class="member-card-header">
                        <a href="#" class="member-card-avatar"><img height="90" src="@user.ProfilePicPath" alt="" /></a>
                        <h3>@user.Fullname</h3>
                        <p><i class="fa fa-envelope icon"></i> @user.Email</p>
                    </div>
                    <div class="member-card-content">
                        <img class="hex" src="http://rypecreative.com/homely/images/hexagon.png" alt="" />
                        <ul class="list-unstyled">
                            <li><a href="/account/index"><i class="fa fa-user icon"></i>Profile</a></li>
                            <li><a href="/account/listings"><i class="fa fa-home icon"></i>My Properties</a></li>
                            <li class="active"><a href="/account/services"><i class="fa fa-wrench icon"></i>My Services</a></li>
                            <li><a href="/account/favourite"><i class="fa fa-heart icon"></i>Favorited Properties</a></li>
                            <li><a href="/account/logoff"><i class="fa fa-reply icon"></i>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-9" style="background-color:white;">



                <table class="table table-striped my-properties-list favorite-properties-list">
                    <tr>
                        <th>Image</th>
                        <th>Service</th>
                        <th>Actions</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="property-img"><a href="property-single.html"><img height="45" width="45" src="@item.ImagePath" alt="Item Image" /></a></td>
                            <td class="property-title">
                                <a href="property-single.html">@item.Title</a><br />
                                <p class="property-address"><i class="fa fa-map-marker icon"></i>@item.Address, @item.Location.State</p>
                            </td>
                            <td class="property-actions">
                                <a href="#"><i class="fa fa-eye icon"></i>View</a>
                                <a href="#"><i class="fa fa-close icon"></i>Delete</a>
                            </td>
                        </tr>
                    }


                </table>



                @Html.Pager((int)ViewBag.ItemCount, 10, (int)ViewBag.pgNo, 10)

            </div><!-- end col -->

        </div><!-- end row -->

    </div><!-- end container -->
</section>


